<div style="text-align: center; font-weight: bold;">
    <h1>Pipeline for Research ready EHR Datasets</h1>
    <h2>Part 2: Cleaning, Organizing and Rolling up the EHR Data</h2>
    <h4>Author: Vidul Ayakulangara Panickan</h3>
</div>

## Step 4: Cleaning!

MIMIC data has been processed for analysis, so it's different from the typical data you might encounter at a hospital system. In general, Electronic Health Record (EHR) data is stored in databases, and each observation is usually marked with a time of observation.

In MIMIC-IV, events are also timestamped, but sometimes the data comes from different tables. For example, the diagnoses_icd table doesn’t include timestamps, while tables for lab results, procedures, and microbiology events do

In [1]:
# Its good practice to load all the libraries you will need beforehand

import os
import sys
import time
import logging
import pandas as pd
from tqdm import tqdm
from IPython.display import clear_output

### Cleaning Diagnoses Data
First we will clean the diagnosis data to give an example of the steps involded and the order they are executed. Then, we'll define these steps under a function so we can reuse the steps of other types of data like medication, procedures and labs

In [2]:
# The diagnosis data is available in diagnoses_icd_file and the time of recording is available in admissions_file

diagnoses_icd_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/diagnoses_icd.csv"
admissions_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/admissions.csv"


diagnoses_icd = pd.read_csv(diagnoses_icd_file, dtype=str)
admissions = pd.read_csv(admissions_file, dtype=str)

# Listing all columns
print(diagnoses_icd.columns)
print(admissions.columns)

Index(['subject_id', 'hadm_id', 'seq_num', 'icd_code', 'icd_version'], dtype='object')
Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag'],
      dtype='object')

In [4]:
# Now before combining the tables, we need to check for missing data in raw files.
# This is a step we need to perform after join operations

print("Dianosis - Missing Values Count")
print(diagnoses_icd.isna().sum(), "\n\n")

print("Admissions - Missing Values Count")
print(admissions.isna().sum())

Dianosis - Missing Values Count
subject_id     0
hadm_id        0
seq_num        0
icd_code       0
icd_version    0
dtype: int64


Admissions - Missing Values Count
subject_id                   0
hadm_id                      0
admittime                    0
dischtime                    0
deathtime               534238
admission_type               0
admit_provider_id            4
admission_location           1
discharge_location      149818
insurance                 9355
language                   775
marital_status           13619
race                         0
edregtime               166788
edouttime               166788
hospital_expire_flag         0
dtype: int64

### Keeping only the required fields

We only require the subject ID, hadm_id, and admittime from the admissions table to create the timestamped diagnosis dataset. And as there are no missing values, we can proceed with joining the tables.

Note: If any rows have missing dates or ICD codes, you can either remove them or impute them. When you have large enough data, it's common pracitce to remove rows if the number of missing values is low

In [5]:
# Merging diagnoses_icd and admissions tables on 'subject_id' and 'hadm_id' columns

timed_diagnoses_icd = pd.merge(
    diagnoses_icd,
    admissions[["subject_id", "hadm_id", "admittime"]],
    how="left",
    on=["subject_id", "hadm_id"],
)


timed_diagnoses_icd

        subject_id   hadm_id seq_num icd_code icd_version            admittime
0         10000032  22595853       1     5723           9  2180-05-06 22:23:00
1         10000032  22595853       2    78959           9  2180-05-06 22:23:00
2         10000032  22595853       3     5715           9  2180-05-06 22:23:00
3         10000032  22595853       4    07070           9  2180-05-06 22:23:00
4         10000032  22595853       5      496           9  2180-05-06 22:23:00
...            ...       ...     ...      ...         ...                  ...
6364483   19999987  23865745       7    41401           9  2145-11-02 21:38:00
6364484   19999987  23865745       8    78039           9  2145-11-02 21:38:00
6364485   19999987  23865745       9     0413           9  2145-11-02 21:38:00
6364486   19999987  23865745      10    36846           9  2145-11-02 21:38:00
6364487   19999987  23865745      11     7810           9  2145-11-02 21:38:00

[6364488 rows x 6 columns]

After a merge operation, it's vital to check whether the resulting table has any missing values. If there are a significant number of 
missing values, you should investigate further to identify underlying cause. For example, the join columns might be of different data types (like 'subject_id' can be integer in one table and string in another table), which can cause the join operation to essentially fail.

In [7]:
timed_diagnoses_icd.isna().sum()

subject_id     0
hadm_id        0
seq_num        0
icd_code       0
icd_version    0
admittime      0
dtype: int64

In [9]:
# Check columns of interest. If you have records where dates, icd_code or subect_ids are null, remove them.

timed_diagnoses_icd = timed_diagnoses_icd.dropna(subset=['admittime', 'icd_code', 'icd_version', 'subject_id'], how="any")

timed_diagnoses_icd

# We are saving a copy which we will use in the future
timed_diagnoses_icd.to_csv("uncleaned_timed_diagnoses_icd.csv",index=None)

In [7]:
# Removing the time component from the 'admittime' column to keep only the date (YYYY-MM-DD). This is typically done in cases where only the
# date component is relevant for the analysis.

timed_diagnoses_icd["admittime"] = timed_diagnoses_icd["admittime"].str[:10]

timed_diagnoses_icd

        subject_id   hadm_id seq_num icd_code icd_version   admittime
0         10000032  22595853       1     5723           9  2180-05-06
1         10000032  22595853       2    78959           9  2180-05-06
2         10000032  22595853       3     5715           9  2180-05-06
3         10000032  22595853       4    07070           9  2180-05-06
4         10000032  22595853       5      496           9  2180-05-06
...            ...       ...     ...      ...         ...         ...
6364483   19999987  23865745       7    41401           9  2145-11-02
6364484   19999987  23865745       8    78039           9  2145-11-02
6364485   19999987  23865745       9     0413           9  2145-11-02
6364486   19999987  23865745      10    36846           9  2145-11-02
6364487   19999987  23865745      11     7810           9  2145-11-02

[6364488 rows x 6 columns]

In [9]:
# For the diagnosis date, we typically keep 'subject_id', 'icd_code', 'icd_version', and 'admittime'. 
# You can retain other columns as needed for your analysis.

timed_diagnoses_icd=timed_diagnoses_icd[['subject_id','icd_code','icd_version','admittime']]

# Next, we rename 'admittime' to 'date' to ensure consistency with other datasets that will be created later for meds, labs and procedures.

timed_diagnoses_icd = timed_diagnoses_icd.rename(columns={'admittime': 'date'})
timed_diagnoses_icd.head(5)

        subject_id icd_code icd_version        date
0         10000032     5723           9  2180-05-06
1         10000032    78959           9  2180-05-06
2         10000032     5715           9  2180-05-06
3         10000032    07070           9  2180-05-06
4         10000032      496           9  2180-05-06
...            ...      ...         ...         ...
6364483   19999987    41401           9  2145-11-02
6364484   19999987    78039           9  2145-11-02
6364485   19999987     0413           9  2145-11-02
6364486   19999987    36846           9  2145-11-02
6364487   19999987     7810           9  2145-11-02

[6364488 rows x 4 columns]

#### Define a date range for the data (Not applicable to MIMIC-IV).

While MIMIC-IV uses adjusted dates, it’s important to ensure that dates in real-world datasets are reasonable. We will filter out records with dates that fall outside a specified range, such as those before the 1980s or after the current year. The code for this operation is provided below. However, for MIMIC-IV, since the dates are already adjusted, this cleaning step will not be applied.

In [ ]:
# diagnoses_icd = diagnoses_icd[
#     (diagnoses_icd["date"].str[:4].astype(int) >= 1980)
#     & (diagnoses_icd["date"].str[:4].astype(int) <= 2024)
# ]

In [11]:
# Check for duplicated rows in your data

if timed_diagnoses_icd.duplicated().sum() > 0:
    print("Duplicate rows found. Removing duplicates:")
    timed_diagnoses_icd = timed_diagnoses_icd.drop_duplicates()  # Remove duplicate rows
    timed_diagnoses_icd.head(5)
else:
    print("No duplicate rows found.")

Duplicate rows found. Removing duplicates:
        subject_id icd_code icd_version        date
0         10000032     5723           9  2180-05-06
1         10000032    78959           9  2180-05-06
2         10000032     5715           9  2180-05-06
3         10000032    07070           9  2180-05-06
4         10000032      496           9  2180-05-06
...            ...      ...         ...         ...
6364483   19999987    41401           9  2145-11-02
6364484   19999987    78039           9  2145-11-02
6364485   19999987     0413           9  2145-11-02
6364486   19999987    36846           9  2145-11-02
6364487   19999987     7810           9  2145-11-02

[6356481 rows x 4 columns]

## Defining Cleaning Functions 

timed_diagnoses_icd now contains the cleaned ICD diagnoses data. Next, we will define the cleaning functions based on the code above, so they can be reused for other datasets

In [2]:
## Ignore the function below, we are defining functions so that we can print and save the info in a log file

def setup_logger(log_type,log_file):

    log_folder = os.path.join("log_folder", log_type)
    
    # Ensure the log folder exists
    os.makedirs(log_folder, exist_ok=True)
    
    # Define the full path for the log file
    log_filepath = os.path.join(log_folder, log_file)

    # Delete the log file if it exists
    if os.path.exists(log_filepath):
        os.remove(log_filepath)
    
    for handler in logging.root.handlers[:]:
        logging.root.removeHandler(handler)

    logging.basicConfig(level=logging.DEBUG, format='%(message)s', handlers=[logging.FileHandler(log_filepath)])

# Define the function to print and log messages
def print_and_log_cleaning(message):
    logging.info(message)  # Log message to the specific log file
    
#################################################################################################


def missing_values_summary(df):
    missing_values = df.isna().sum()
    missing_df = pd.DataFrame({'Column Name': missing_values.index, 'Missing Values Count': missing_values.values})
    print_and_log_cleaning("Missing Values Count:")
    print_and_log_cleaning(missing_df)



def clean_data(df, cols_of_interest, time_col):

    missing_values_summary(df)

    print_and_log_cleaning(f"Initial number of rows: {df.shape[0]}")

    print_and_log_cleaning("Keeping only the essential columns")
    df = df[cols_of_interest]

    if df.isna().sum().any():
        df = df.dropna()
        print_and_log_cleaning(f"Number of rows after dropping na rows: {df.shape[0]}")
    else:
        print_and_log_cleaning("No rows with missing values to drop.")

    print_and_log_cleaning("Extracting only the date info")
    df[time_col] = df[time_col].str[:10]

    print_and_log_cleaning("Renaming the columns")
    df = df.rename(columns={time_col: "date"})

    print_and_log_cleaning("Checking for duplicate rows")
    if df.duplicated().sum() > 0:
        print_and_log_cleaning("Duplicate rows found. Removing duplicates:")
        df = df.drop_duplicates()
        return df
    else:
        print_and_log_cleaning("No duplicate rows found.")
        return df


def clean_data_batch_supportfunc(df, cols_of_interest):

    missing_values_summary(df)

    print_and_log_cleaning(f"Initial number of rows: {df.shape[0]}")

    if df.isna().sum().any():
        df.dropna(inplace=True)
        print_and_log_cleaning(f"Number of rows after dropping na rows: {df.shape[0]}")
    else:
        print_and_log_cleaning("No rows with missing values to drop.")

    print_and_log_cleaning("Extracting only the date info")
    df[cols_of_interest['date']] = df[cols_of_interest['date']].str[:10]
  

    print_and_log_cleaning("Renaming the columns")
    df = df.rename(columns={cols_of_interest['date']: "date"})
    df = df.rename(columns={cols_of_interest['code']: "code"})

    print_and_log_cleaning("Checking for duplicate rows")
    if df.duplicated().sum() > 0:
        print_and_log_cleaning("Duplicate rows found. Removing duplicates:")
        df = df.drop_duplicates()
        return df
    else:
        print_and_log_cleaning("No duplicate rows found.")
        return df


def file_line_count(file_path):
    count = 0
    with open(file_path, 'r') as file:
        for line in file:
            count += 1
    return count


def clean_data_by_batch(input_file_path, patient_ids, cols_of_interest, data_name, num_rows_to_load=1500000):
    #Coding system will be a list of columns if the coding system is defined in the input data, if not, you can pass a single value list

    filename = os.path.splitext(os.path.basename(input_file_path))[0]

    # Set up logger for cleaning function
    setup_logger("cleaning",f"{data_name}_{filename}.txt")  # Create log folder if necessary and set up logging

 
    # Create a dictionary for batch_num lookup based on subject_id
    batch_lookup = dict(zip(patient_ids['subject_id'], patient_ids['batch_num']))
    
    # Get the list of unique batch numbers from patient_ids
    unique_batch_nums = patient_ids['batch_num'].unique()

    output_dir = f'Cleaned_RawData/{data_name}'
    os.makedirs(output_dir, exist_ok=True)

    # Iterate over each batch number
    for batch_num in tqdm(unique_batch_nums, desc="Processing batches", unit="batch"):
        
        print_and_log_cleaning(f"\nProcessing batch {batch_num}:")

        collected_data = []

        non_none_cols_of_interest = [item for key, item in cols_of_interest.items() if item is not None and key != "coding_system"
]
        
        chunk_iter = pd.read_csv(input_file_path, chunksize=num_rows_to_load, usecols=non_none_cols_of_interest , dtype=str)
        
        # Process each chunk and collect data for the current batch
        for chunk_idx, chunk in enumerate(chunk_iter):
            print_and_log_cleaning(f"------ Processing  batch {batch_num} chunk{chunk_idx + 1}")

            batch_data = chunk[chunk['subject_id'].map(batch_lookup) == batch_num]
            
            if not batch_data.empty:
                collected_data.append(batch_data)
        
        # If we found data for this batch, clean and save it
        if collected_data:

            final_batch_data = pd.concat(collected_data, ignore_index=True)

            print_and_log_cleaning(final_batch_data)

            if cols_of_interest.get('code_version'):
                cleaned_batch_data = clean_data_batch_supportfunc(final_batch_data, cols_of_interest)
                cleaned_batch_data['coding_system'] = cols_of_interest['coding_system'] + cleaned_batch_data[cols_of_interest['code_version']]

                
            else:
                cleaned_batch_data = clean_data_batch_supportfunc(final_batch_data, cols_of_interest)
                cleaned_batch_data['coding_system'] = cols_of_interest['coding_system']

            cleaned_batch_data=cleaned_batch_data[['subject_id','date','code','coding_system']]
            
            # Prepare the output file path dynamically using the data_name and batch_num
            output_file = os.path.join(output_dir, f"{data_name.lower()}_batch{batch_num}_{filename}.csv")

            
            # Save the cleaned data to the file
            cleaned_batch_data.to_csv(output_file, index=False)
            print_and_log_cleaning(f"Batch {batch_num} cleaned data saved to {output_file}.")
        else:
            print_and_log_cleaning(f"Warning: No data found for batch {batch_num}.")
 
    
    
    print_and_log_cleaning(f"\nCleaning complete. All batches processed and saved in the '{output_dir}' directory.")

## Handling Large-Scale Data
In real world data, the ehr datasets are typically too big to load in the memory at once so we process them in batches.

In [3]:
# First we need to identify the individual patients and then we are gonna assign them to batches. If you do not have admissions file, 
# you can simply take the diagnosis file to get the unique patient ids.

admissions_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/admissions.csv"

admissions = pd.read_csv(admissions_file, dtype=str)

admissions.head(5)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [4]:
patient_ids = admissions[['subject_id']].drop_duplicates()
patient_ids = patient_ids.sort_values(by='subject_id', ascending=True)
patient_ids = patient_ids.reset_index(drop=True)
print(patient_ids)


# specify the number of batches 
num_of_batches = 8

patient_ids['batch_num'] = (patient_ids.index % num_of_batches) + 1

print(patient_ids)

patient_ids.groupby('batch_num')['subject_id'].count().reset_index().rename(columns={'subject_id': 'patient_count'})

       subject_id
0        10000032
1        10000068
2        10000084
3        10000108
4        10000117
...           ...
223447   19999733
223448   19999784
223449   19999828
223450   19999840
223451   19999987

[223452 rows x 1 columns]
       subject_id  batch_num
0        10000032          1
1        10000068          2
2        10000084          3
3        10000108          4
4        10000117          5
...           ...        ...
223447   19999733          8
223448   19999784          1
223449   19999828          2
223450   19999840          3
223451   19999987          4

[223452 rows x 2 columns]

   batch_num  patient_count
0          1          27932
1          2          27932
2          3          27932
3          4          27932
4          5          27931
5          6          27931
6          7          27931
7          8          27931

### 4.1 Cleaning Diagnoses Data in batches

In [12]:
uncleaned_timed_diagnoses_icd_file = "uncleaned_timed_diagnoses_icd.csv"

uncleaned_timed_diagnoses_icd = pd.read_csv(uncleaned_timed_diagnoses_icd_file,nrows=5, dtype=str)
uncleaned_timed_diagnoses_icd

  subject_id   hadm_id seq_num icd_code icd_version            admittime
0   10000032  22595853       1     5723           9  2180-05-06 22:23:00
1   10000032  22595853       2    78959           9  2180-05-06 22:23:00
2   10000032  22595853       3     5715           9  2180-05-06 22:23:00
3   10000032  22595853       4    07070           9  2180-05-06 22:23:00
4   10000032  22595853       5      496           9  2180-05-06 22:23:00

In [13]:
cols_of_interest = {
    "patient_id":"subject_id",
    "date":"admittime",
    "code":"icd_code",
    "code_version":"icd_version",  #if there is no code version, specifit it as none. "code_version":None
    "coding_system":"ICD" # We specify the coding system, the others are column names
}


clean_data_by_batch(uncleaned_timed_diagnoses_icd_file, patient_ids, cols_of_interest,"Diagnoses",num_rows_to_load=15000000)

Processing batches: 100%|██████████████████████| 8/8 [00:51<00:00,  6.38s/batch]

### 4.2 Cleaning Procedures Data

In MIMIC Procedure data come from two sources: 
1. hcpcsevents.csv where procedures are recorded as CPT codes 
2. procedures_icd.csv where procedures are recorded as ICD9/ICD10 Procedure codes

We will need to clean them both and concatenate them.

In [14]:
# Cleaning HCPCS events

import pandas as pd 

hcpcenvents_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/hcpcsevents.csv"

hcpcenvents_top5rows = pd.read_csv(hcpcenvents_file, nrows=5,dtype=str)

hcpcenvents_top5rows

,subject_id,hadm_id,chartdate,hcpcs_cd,seq_num,short_description
0,10000068,25022803,2160-03-04,99218,1,Hospital observation services
1,10000084,29888819,2160-12-28,G0378,1,Hospital observation per hr
2,10000108,27250926,2163-09-27,99219,1,Hospital observation services
3,10000117,22927623,2181-11-15,43239,1,Digestive system
4,10000117,22927623,2181-11-15,G0378,2,Hospital observation per hr

In [15]:

cols_of_interest = {
    "patient_id":"subject_id",
    "date":"chartdate",
    "code":"hcpcs_cd",
    "code_version":None,  #if there is no code version, specifit it as none. "code_version":None
    "coding_system":"HCPCS" # We specify the coding system, the others are column names
}


clean_data_by_batch(hcpcenvents_file, patient_ids, cols_of_interest,"Procedures",num_rows_to_load=15000000)

Processing batches: 100%|██████████████████████| 8/8 [00:02<00:00,  3.21batch/s]

In [16]:
# Processing procedures_icd.csv

procedures_icd_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/procedures_icd.csv"

procedures_icd_top5rows = pd.read_csv(procedures_icd_file, dtype=str, nrows=5)

print(procedures_icd_top5rows)

  subject_id   hadm_id seq_num   chartdate icd_code icd_version
0   10000032  22595853       1  2180-05-07     5491           9
1   10000032  22841357       1  2180-06-27     5491           9
2   10000032  25742920       1  2180-08-06     5491           9
3   10000068  25022803       1  2160-03-03     8938           9
4   10000117  27988844       1  2183-09-19  0QS734Z          10

In [17]:

cols_of_interest = {
    "patient_id":"subject_id",
    "date":"chartdate",
    "code":"icd_code",
    "code_version":"icd_version",  #if there is no code version, specifit it as none. "code_version":None
    "coding_system":"ICDPROC" # We specify the coding system, the others are column names
}


clean_data_by_batch(procedures_icd_file, patient_ids, cols_of_interest,"Procedures",num_rows_to_load=15000000)

Processing batches: 100%|██████████████████████| 8/8 [00:08<00:00,  1.01s/batch]

### 4.3 Cleaning Medications Data

In [6]:
prescriptions_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/prescriptions.csv"

# Loading the top 5 rows to identify columns of interest
prescriptions_top5rows = pd.read_csv(prescriptions_file,dtype=str,nrows=5)

prescriptions_top5rows

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10000032,22595853,12775705,10000032-55,55,P85UQ1,2180-05-08 08:00:00,2180-05-07 22:00:00,MAIN,Furosemide,...,008209,51079007320,40mg Tablet,NaN,40,mg,1,TAB,1,PO/NG
1,10000032,22595853,18415984,10000032-42,42,P23SJA,2180-05-07 02:00:00,2180-05-07 22:00:00,MAIN,Ipratropium Bromide Neb,...,021700,00487980125,2.5mL Vial,NaN,1,NEB,1,VIAL,4,IH
2,10000032,22595853,23637373,10000032-35,35,P23SJA,2180-05-07 01:00:00,2180-05-07 09:00:00,MAIN,Furosemide,...,008208,51079007220,20mg Tablet,NaN,20,mg,1,TAB,1,PO/NG
3,10000032,22595853,26862314,10000032-41,41,P23SJA,2180-05-07 01:00:00,2180-05-07 01:00:00,MAIN,Potassium Chloride,...,001275,00245004101,10mEq ER Tablet,NaN,40,mEq,4,TAB,1,PO
4,10000032,22595853,30740602,10000032-27,27,P23SJA,2180-05-07 00:00:00,2180-05-07 22:00:00,MAIN,Sodium Chloride 0.9% Flush,...,NaN,0,10 mL Syringe,NaN,3,mL,0.3,SYR,3,IV

In [10]:
cols_of_interest = {
    "patient_id":"subject_id",
    "date":"starttime",
    "code":"ndc",
    "code_version":None,  #if there is no code version, specifit it as none. "code_version":None
    "coding_system":"NDC" # We specify the coding system, the others are column names
}


clean_data_by_batch(prescriptions_file, patient_ids, cols_of_interest,"Medication",num_rows_to_load=15000000)

Processing batches: 100%|██████████████████████| 8/8 [06:01<00:00, 45.16s/batch]

## 4.4 Cleaning Lab Data: Handling Large-Scale Data

In [6]:
labs_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/labevents.csv"

labs_5 = pd.read_csv(labs_file,dtype=str,nrows=5)

labs_5

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95,mg/dL,70,100,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN

In [26]:
# Counting the number of lines in the lab file

file_line_count(labs_file)

158374765

Lab data is one of the largest subdatasets in EHR due to the high frequency of recorded lab events. In MIMIC-IV, there are over 158 million lab observations recorded and loading the entire dataset into memory at once is inefficient and may cause your program to crash. Therefore, we will process the data in batches, working with one batch of patients at a time

In [7]:
# This will take atleast 5 minutes to process a batch, you can check the log folder for detailed progress

cols_of_interest = {
    "patient_id":"subject_id",
    "date":"charttime",
    "code":"itemid",
    "code_version":None,  #if there is no code version, specifit it as none. "code_version":None
    "coding_system":"ITEMID" # We specify the coding system, the others are column names
}


clean_data_by_batch(labs_file , patient_ids, cols_of_interest,"Labs",num_rows_to_load=15000000)


# We process data in batches of patients, rather than batches of data, to efficiently handle duplicates, as we can't load the entire dataset into memory at once.
# If it takes too long to process a chunk, try reducing num_rows_to_load

Processing batches: 100%|███████████████████████████████████████████████████████████████████████████████████████| 8/8 [23:39<00:00, 177.42s/batch]

## Step 5: Rolling up Data

For data to be effectively compared and analyzed, it must be standardized. For example, medical codes in electronic health records (EHR) like medications codes may come from different coding systems like NDC, RxNorm, or institution-specific local codes. "Rolling up" data from these various coding systems to a common parent coding system ensures standardization.

There are additional reasons to perform the rollup:

1. The raw EHR codes may be too specific, making analysis difficult or impractical.
2. Rolling up helps harmonize data across different institutions, enabling analysis on a larger scale.

In [12]:
import os
import pandas as pd

os.makedirs("Rollup_Mappings", exist_ok=True)
os.makedirs("Intermediate_Data", exist_ok=True)
os.makedirs("Rolledup_Data", exist_ok=True)

## Creating Rollup Dictionary

To rollup EHR codes to a parent level code, we need decide on what coding system we will be rolling to 
1. Diagnoses - We will be rolling up ICD and other Diagnoses codes to PheCodes
2. Medication - We will be rolling up standard codes like RxNorm, NDC and local medication codes to RxNorm Ingredient level codes
3. Lab - We will be rolling up lab codes, loinc codes to LOINC Component codes
4. Prcedures - We will be rolling up Procedure codes like ICDPCS/CPT4 Codes to CCS codes

Creating these Rollup dictionaries require a lot of manual processing and quality checks to ensure the mapping dictionary created is accurate

In [23]:
#Write code to create rollup dictionries

### Rolling up Diagnoses Data
ICD codes are too detailed to be used for research purposes. Phecodes solves this problem by grouping relevant ICD codes into clinical meaningful phenotypes.

In [26]:
icd_to_phecode_file = "./Rollup_Mappings/ICD_to_PheCode.csv"

icd_to_phecode = pd.read_csv(icd_to_phecode_file, dtype=str)

icd_to_phecode

          code PheCode coding_system
0          001     008          ICD9
1         0010     008          ICD9
2         0011     008          ICD9
3         0019     008          ICD9
4          002     008          ICD9
...        ...     ...           ...
98544  T524X3D     981         ICD10
98545  T532X4D     981         ICD10
98546  T533X4S     981         ICD10
98547  T521X3S     981         ICD10
98548  T5194XD     981         ICD10

[98549 rows x 3 columns]

In [27]:
# We will select a sample diagnoses file for rolling up

diagnoses_raw_data_cleaned = "./Cleaned_RawData/Diagnoses" 

diagnoses_files = os.listdir(diagnoses_raw_data_cleaned)

sample_diagnoses_filepath= os.path.join(diagnoses_raw_data_cleaned, diagnoses_files[0])
    
sample_diagnoses = pd.read_csv(sample_diagnoses_filepath, dtype=str)

sample_diagnoses

       subject_id        date    code coding_system
0        10000032  2180-05-06    5723          ICD9
1        10000032  2180-05-06   78959          ICD9
2        10000032  2180-05-06    5715          ICD9
3        10000032  2180-05-06   07070          ICD9
4        10000032  2180-05-06     496          ICD9
...           ...         ...     ...           ...
799773   19999784  2121-01-31   Z5111         ICD10
799774   19999784  2121-01-31   C8589         ICD10
799775   19999784  2121-01-31    E876         ICD10
799776   19999784  2121-01-31  Z87891         ICD10
799777   19999784  2121-01-31   Z8619         ICD10

[799778 rows x 4 columns]

Now, if you observe the rollup mapping file and the actual diagnoses file, you will notice a mismatch in the column names. To perform the
rollup using a join operation, you will need to make the column names consistent. You can do this by renaming the columns in the rollup file.

In [29]:
# Merging the two tables to rollup/map icd code to phecode. Save this rolled up data in intermediate folder. 
# In future if you update rollup mapping to be more comprehensive or if you want to look at codes that are unmapped, you can always come back.
    
sample_diagnoses_phecode = pd.merge(sample_diagnoses, icd_to_phecode, how='left', on=['code','coding_system'])
    
sample_diagnoses_phecode['Rollup_Status'] = sample_diagnoses_phecode['PheCode'].notna().replace({True: '1', False: '0'})
sample_diagnoses_phecode

       subject_id        date    code coding_system PheCode Rollup_Status
0        10000032  2180-05-06    5723          ICD9  571.81             1
1        10000032  2180-05-06   78959          ICD9     572             1
2        10000032  2180-05-06    5715          ICD9  571.51             1
3        10000032  2180-05-06   07070          ICD9   070.3             1
4        10000032  2180-05-06     496          ICD9     496             1
...           ...         ...     ...           ...     ...           ...
799773   19999784  2121-01-31   Z5111         ICD10    1010             1
799774   19999784  2121-01-31   C8589         ICD10   202.2             1
799775   19999784  2121-01-31    E876         ICD10  276.14             1
799776   19999784  2121-01-31  Z87891         ICD10     318             1
799777   19999784  2121-01-31   Z8619         ICD10     136             1

[799778 rows x 6 columns]

In [30]:
# Unrolled rows where ICD codes were not rolled up

sample_diagnoses_unrolled = sample_diagnoses_phecode[sample_diagnoses_phecode["Rollup_Status"]=="0"]
sample_diagnoses_unrolled

       subject_id        date    code coding_system PheCode Rollup_Status
34       10000032  2180-07-23   V4986          ICD9     NaN             0
44       10001319  2135-07-20    V270          ICD9     NaN             0
46       10001319  2138-11-09    V270          ICD9     NaN             0
48       10001319  2134-04-15    V270          ICD9     NaN             0
52       10001843  2131-11-09    Y840         ICD10     NaN             0
...           ...         ...     ...           ...     ...           ...
799680   19999784  2123-04-14  Y92239         ICD10     NaN             0
799702   19999784  2123-04-28   R7401         ICD10     NaN             0
799708   19999784  2123-04-28  Y92230         ICD10     NaN             0
799737   19999784  2119-09-19  Y92239         ICD10     NaN             0
799760   19999784  2119-10-17  Y92239         ICD10     NaN             0

[52416 rows x 6 columns]

In [32]:
# Summarize the codes that have not been rolledup

unique_subject_icd_pairs = sample_diagnoses_unrolled[['subject_id', 'code','coding_system']].drop_duplicates()

icdcode_frequencies = unique_subject_icd_pairs[['code','coding_system']].value_counts().reset_index(name='counts')

sorted_icdcode_frequencies = icdcode_frequencies.rename(columns={'index': 'code'}).sort_values(by='counts', ascending=False)

sorted_icdcode_frequencies.head(10)

     code coding_system  counts
0  Z20822         ICD10    3009
1    Y929         ICD10    1956
2  Y92230         ICD10    1115
3    V270          ICD9    1086
4   V4986          ICD9    1057
5  Y92009         ICD10     901
6  Y92239         ICD10     898
7   E8497          ICD9     867
8   E8490          ICD9     743
9   E8788          ICD9     694

Once the data looks reasonable, with good enough rollup done, you can save the data. You can save the comprehensive data with rolled and unrolled info into the intermidate_data folder. You can come back to this if you need to check anything in the future. 

You can save the rolled up file under rolleddup_data

We don't really need all the columns after rollup is performed. Below we just keep the data we need.

In [37]:
sample_diagnoses_phecode_filtered = sample_diagnoses_phecode[sample_diagnoses_phecode['Rollup_Status']=="1"]

print(sample_diagnoses_phecode_filtered )
sample_diagnoses_phecode_filtered  = sample_diagnoses_phecode_filtered [['subject_id','PheCode','date']]
sample_diagnoses_phecode_filtered

       subject_id        date    code coding_system PheCode Rollup_Status
0        10000032  2180-05-06    5723          ICD9  571.81             1
1        10000032  2180-05-06   78959          ICD9     572             1
2        10000032  2180-05-06    5715          ICD9  571.51             1
3        10000032  2180-05-06   07070          ICD9   070.3             1
4        10000032  2180-05-06     496          ICD9     496             1
...           ...         ...     ...           ...     ...           ...
799773   19999784  2121-01-31   Z5111         ICD10    1010             1
799774   19999784  2121-01-31   C8589         ICD10   202.2             1
799775   19999784  2121-01-31    E876         ICD10  276.14             1
799776   19999784  2121-01-31  Z87891         ICD10     318             1
799777   19999784  2121-01-31   Z8619         ICD10     136             1

[747362 rows x 6 columns]

       subject_id PheCode        date
0        10000032  571.81  2180-05-06
1        10000032     572  2180-05-06
2        10000032  571.51  2180-05-06
3        10000032   070.3  2180-05-06
4        10000032     496  2180-05-06
...           ...     ...         ...
799773   19999784    1010  2121-01-31
799774   19999784   202.2  2121-01-31
799775   19999784  276.14  2121-01-31
799776   19999784     318  2121-01-31
799777   19999784     136  2121-01-31

[747362 rows x 3 columns]

In [38]:
if sample_diagnoses_phecode_filtered.duplicated().sum() > 0:
    print("Duplicate rows found. Removing duplicates...")
    sample_diagnoses_phecode_filtered = sample_diagnoses_phecode_filtered.drop_duplicates()  # Remove duplicate rows
    print("DataFrame after removing duplicates:")
else:
    print("No duplicate rows found.")

sample_diagnoses_phecode_filtered

Duplicate rows found. Removing duplicates...
DataFrame after removing duplicates:

       subject_id PheCode        date
0        10000032  571.81  2180-05-06
1        10000032     572  2180-05-06
2        10000032  571.51  2180-05-06
3        10000032   070.3  2180-05-06
4        10000032     496  2180-05-06
...           ...     ...         ...
799773   19999784    1010  2121-01-31
799774   19999784   202.2  2121-01-31
799775   19999784  276.14  2121-01-31
799776   19999784     318  2121-01-31
799777   19999784     136  2121-01-31

[714287 rows x 3 columns]

In [39]:
# Once cleaned, we can save the rollup data
sample_diagnoses_phecode_filtered.to_csv("./Rolledup_Data/diagnoses_phecode_rolled.csv", index=None)

NameError: name 'diagnoses_phecode_filtered' is not defined

## Defining Functions 

As we will be perfoming operations similar to what we did to roll up ICD codes, its better to define these operations
as a function so we can resue them.

In [2]:
def rollup(raw_level_data, rollup_mapping , join_columns, parent_column):
    
    rolledup_data = pd.merge(raw_level_data, rollup_mapping, how='left', on=join_columns)
    
    rolledup_data['Rollup_Status'] = rolledup_data[parent_column].notna().replace({True: '1', False: '0'})
    
    return rolledup_data


def summarize_unmapped(rolledup_data, child_column):
    
    rolledup_data_unmapped = rolledup_data[rolledup_data["Rollup_Status"]=="0"]
    
    unique_patient_code_pairs = rolledup_data_unmapped[['subject_id', child_column]].drop_duplicates()

    unmapped_code_frequencies = unique_patient_code_pairs[[child_column]].value_counts().reset_index(name='counts')

    unmapped_code_frequencies = unmapped_code_frequencies.rename(columns={'index': child_column})
    
    return unmapped_code_frequencies


def filter_rolledup_data(rolledup_data,cols_of_interest):
    
    filtered = rolledup_data[rolledup_data['Rollup_Status']=="1"]
    
    filtered = filtered[cols_of_interest]

    filtered.drop_duplicates(inplace=True)
    
    return filtered
    

def rollup_data_by_batch(config, unrolled_data_folder):

    folder_name = os.path.basename(unrolled_data_folder)
    intermediate_dir = f"Intermediate_Data/{folder_name}"
    rolledup_dir = f"Rolledup_Data/{folder_name}"
    unrolled_summary_dir = "Summary/Unrolled"
    

    os.makedirs(intermediate_dir, exist_ok=True)
    os.makedirs(rolledup_dir, exist_ok=True)
    os.makedirs(unrolled_summary_dir, exist_ok=True)

    unrolled_freq_list = []

    files = os.listdir(unrolled_data_folder)

    batches = [file.split("_")[1] for file in files]
    unique_batches = set(batches)

    for batch in unique_batches:
        load_files = [file for file in files if batch in file]
        print(load_files)

        if len(load_files)==1:
            filepath = os.path.join(unrolled_data_folder, load_files[0])
            file_df = pd.read_csv(filepath, dtype=str)
            
        else:
            df_list = []
            for file in load_files:
                filepath = os.path.join(unrolled_data_folder, file)
                df_list.append(pd.read_csv(filepath, dtype=str))
            file_df = pd.concat(df_list)
            
        print(f"processing Batch: {batch}")
        
        intermediate_df = rollup(file_df, config["rollup_mapping"], [config['child_column'],"coding_system"], config['parent_column'])
        intermediate_file = os.path.join(intermediate_dir, f"intermediate_{batch}.csv")
        intermediate_df.to_csv(intermediate_file, index=False)
        
        unrolled_freq_list.append(summarize_unmapped(intermediate_df, config['child_column']))

        cols_of_interest = [config['patient_id'],config['date'],config['parent_column']]
        
        only_rolledup_df = filter_rolledup_data(intermediate_df, cols_of_interest)
        only_rolledup_filepath = os.path.join(rolledup_dir, f"rolledup_{batch}.csv")
        only_rolledup_df.to_csv(only_rolledup_filepath, index=False)
        
        print(only_rolledup_df)


    
    unrolled_summary_file = os.path.join(unrolled_summary_dir , "unrolled_" + folder_name + "_code_counts.csv")

    unrolled_summary =(
        pd.concat(unrolled_freq_list)  # Concatenate list of DataFrames
        .groupby(config['child_column'], as_index=False)["counts"]
        .sum()
        .sort_values(by="counts", ascending=False)
        )

    print(unrolled_summary)
    unrolled_summary.to_csv(unrolled_summary_file, index=False)

In [ ]:
### Diagnosis Data

In [33]:
unrolled_diagnoses_data = "./Cleaned_RawData/Diagnoses" 

diagnoses_files = os.listdir(unrolled_diagnoses_data)

sample_diagnoses_filepath= os.path.join(unrolled_diagnoses_data, diagnoses_files[0])
    
sample_diagnoses_filepath = pd.read_csv(sample_diagnoses_filepath, dtype=str)

print(sample_diagnoses_filepath)



diagnoses_rollup_file = "./Rollup_Mappings/ICD_to_PheCode.csv"

diagnoses_to_phecode = pd.read_csv(diagnoses_rollup_file , dtype=str)

diagnoses_to_phecode

       subject_id        date    code coding_system
0        10000032  2180-05-06    5723          ICD9
1        10000032  2180-05-06   78959          ICD9
2        10000032  2180-05-06    5715          ICD9
3        10000032  2180-05-06   07070          ICD9
4        10000032  2180-05-06     496          ICD9
...           ...         ...     ...           ...
799773   19999784  2121-01-31   Z5111         ICD10
799774   19999784  2121-01-31   C8589         ICD10
799775   19999784  2121-01-31    E876         ICD10
799776   19999784  2121-01-31  Z87891         ICD10
799777   19999784  2121-01-31   Z8619         ICD10

[799778 rows x 4 columns]

          code PheCode coding_system
0          001     008          ICD9
1         0010     008          ICD9
2         0011     008          ICD9
3         0019     008          ICD9
4          002     008          ICD9
...        ...     ...           ...
98544  T524X3D     981         ICD10
98545  T532X4D     981         ICD10
98546  T533X4S     981         ICD10
98547  T521X3S     981         ICD10
98548  T5194XD     981         ICD10

[98549 rows x 3 columns]

In [34]:
config={
    "patient_id":"subject_id",
    "parent_column":"PheCode", # The parent column should be exactly as the parent column in the rollup mapping file
    "child_column":"code",
    "date":"date",
    "rollup_mapping":diagnoses_to_phecode
}

rollup_data_by_batch(config ,unrolled_data_folder ="./Cleaned_RawData/Diagnoses")

['diagnoses_batch8_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch8
       subject_id        date PheCode
0        10000280  2151-03-18   681.2
1        10000886  2178-05-08   317.1
2        10001217  2157-11-18     324
3        10001217  2157-11-18   348.2
4        10001217  2157-11-18   348.2
...           ...         ...     ...
788003   19998878  2132-08-17     318
788004   19999298  2177-02-10   317.1
788005   19999298  2177-02-10   741.3
788006   19999733  2152-07-08     949
788007   19999733  2152-07-08     979

[735799 rows x 3 columns]
['diagnoses_batch1_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch1
       subject_id        date PheCode
0        10000032  2180-05-06  571.81
1        10000032  2180-05-06     572
2        10000032  2180-05-06  571.51
3        10000032  2180-05-06   070.3
4        10000032  2180-05-06     496
...           ...         ...     ...
799773   19999784  2121-01-31    1010
799774   19999784  2121-01-31   202.2
799775   19999784  2121-01-31  276.14
799776   19999784  2121-01-31     318
799777   19999784  2121-01-31     136

[747362 rows x 3 columns]
['diagnoses_batch5_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch5
       subject_id        date PheCode
0        10000117  2181-11-15     532
1        10000117  2181-11-15   429.3
2        10000117  2181-11-15   537.1
3        10000117  2181-11-15  530.11
4        10000117  2181-11-15   550.2
...           ...         ...     ...
795751   19999204  2146-05-30    1010
795752   19999466  2116-08-30  296.22
795753   19999466  2116-08-30   401.1
795754   19999466  2116-08-30   295.1
795755   19999466  2116-08-30  1010.7

[744396 rows x 3 columns]
['diagnoses_batch4_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch4
       subject_id        date PheCode
0        10000108  2163-09-27   528.3
1        10000108  2163-09-27   521.1
2        10000719  2140-04-15     665
3        10000719  2140-04-15     654
4        10000719  2140-04-15     649
...           ...         ...     ...
794409   19999987  2145-11-02   411.4
794410   19999987  2145-11-02   345.3
794411   19999987  2145-11-02     041
794412   19999987  2145-11-02   368.4
794413   19999987  2145-11-02   350.1

[742342 rows x 3 columns]
['diagnoses_batch2_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch2
       subject_id        date PheCode
0        10000068  2160-03-03   317.1
1        10000635  2143-12-23     418
2        10000635  2143-12-23   772.6
3        10000635  2143-12-23   687.4
4        10000635  2143-12-23   401.1
...           ...         ...     ...
799483   19999828  2147-07-18    1090
799484   19999828  2147-07-18     318
799485   19999828  2147-07-18   041.4
799486   19999828  2147-07-18   041.9
799487   19999828  2147-07-18   458.2

[747387 rows x 3 columns]
['diagnoses_batch7_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch7
       subject_id        date PheCode
0        10000248  2192-11-30     916
1        10000248  2192-11-30     916
4        10000248  2192-11-30  286.13
5        10000248  2192-11-30     285
6        10000883  2124-05-14  296.22
...           ...         ...     ...
791360   19999625  2138-10-06   280.1
791361   19999625  2138-10-06   285.2
791362   19999625  2138-10-06     600
791363   19999625  2138-10-06   561.1
791364   19999625  2138-10-06   189.1

[739373 rows x 3 columns]
['diagnoses_batch3_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch3
       subject_id        date PheCode
0        10000084  2160-11-21  290.12
1        10000084  2160-11-21   290.1
2        10000084  2160-11-21  368.91
3        10000084  2160-11-21     781
4        10000084  2160-11-21   272.1
...           ...         ...     ...
790681   19999840  2164-07-25     345
790682   19999840  2164-07-25   433.8
790683   19999840  2164-07-25   401.1
790684   19999840  2164-07-25   272.1
790685   19999840  2164-07-25     318

[738817 rows x 3 columns]
['diagnoses_batch6_uncleaned_timed_diagnoses_icd.csv']
processing Batch: batch6
       subject_id        date PheCode
0        10000161  2163-08-20  287.31
2        10000826  2146-12-05  317.11
3        10000826  2146-12-05     480
4        10000826  2146-12-05     572
5        10000826  2146-12-05  571.81
...           ...         ...     ...
796977   19999287  2191-12-29     496
796978   19999287  2191-12-29     318
796980   19999287  2191-12-29    1013
796981   19999565  2185-06-04   800.2
796983   19999565  2185-06-04    1010

[744895 rows x 3 columns]
         code  counts
2461   Z20822   23629
2381     Y929   15945
2309   Y92230    9019
1335     V270    8375
1484    V4986    8006
...       ...     ...
1869  W12XXXS       1
1871  W130XXD       1
1872  W130XXS       1
860     Q9382       1
1972  W260XXS       1

[2577 rows x 2 columns]

### Procedures Data

As mentioned before, procedure data comes from two sources: hcpcsevents.csv and procedures_icd.csv 
Our objective is to roll them both up to ccs code and merge them.

In [35]:
# Rolling up procedure data

import pandas as pd

unrolled_procedure_data = "./Cleaned_RawData/Procedures" 

procedure_files = os.listdir(unrolled_procedure_data)

sample_procedure_filepath= os.path.join(procedure_raw_data_cleaned, procedure_files[0])
    
sample_procedure = pd.read_csv(sample_procedure_filepath, dtype=str)
print(sample_procedure)

procedure_rollup_file = "./Rollup_Mappings/HCPCS_ICDPROC_to_CCS.csv"

procedure_to_ccs = pd.read_csv(procedure_rollup_file , dtype=str)

procedure_to_ccs

      subject_id        date   code coding_system
0       10000904  2180-10-09  99218         HCPCS
1       10002131  2123-06-25  G0378         HCPCS
2       10002428  2155-07-14  G0378         HCPCS
3       10002428  2160-07-15  G0378         HCPCS
4       10002428  2157-07-16  27235         HCPCS
...          ...         ...    ...           ...
22547   19996651  2179-12-28  99219         HCPCS
22548   19997911  2193-09-02  G0378         HCPCS
22549   19999043  2165-06-03  G0378         HCPCS
22550   19999784  2119-07-09  99219         HCPCS
22551   19999784  2119-07-10  62270         HCPCS

[22552 rows x 4 columns]

           code  CCS coding_system
0       00800ZZ    1     ICDPROC10
1       00803ZZ    1     ICDPROC10
2       00804ZZ    1     ICDPROC10
3       00870ZZ    1     ICDPROC10
4       00873ZZ    1     ICDPROC10
...         ...  ...           ...
102208    M1146  999         HCPCS
102209    M1147  999         HCPCS
102210    M1148  999         HCPCS
102211    M1149  999         HCPCS
102212    S0285  999         HCPCS

[102213 rows x 3 columns]

In [36]:
config={
    "patient_id":"subject_id",
    "parent_column":"CCS",
    "child_column":"code",
    "date":"date",
    "rollup_mapping":procedure_to_ccs
}

rollup_data_by_batch(config ,unrolled_data_folder ="./Cleaned_RawData/Procedures")

['procedures_batch8_hcpcsevents.csv', 'procedures_batch8_procedures_icd.csv']
processing Batch: batch8
       subject_id        date  CCS
0        10000280  2151-03-18  227
1        10000886  2178-05-08  227
2        10002425  2153-01-07  160
3        10002425  2153-01-07  227
4        10002807  2152-03-30  227
...           ...         ...  ...
128949   19998878  2132-06-19   61
128950   19998878  2132-03-31   70
128951   19998878  2132-05-26   61
128952   19998878  2132-05-26   61
128953   19998878  2132-05-26  191

[128451 rows x 3 columns]
['procedures_batch1_hcpcsevents.csv', 'procedures_batch1_procedures_icd.csv']
processing Batch: batch1
       subject_id        date  CCS
0        10000904  2180-10-09  227
1        10002131  2123-06-25  227
2        10002428  2155-07-14  227
3        10002428  2160-07-15  227
4        10002428  2157-07-16  146
...           ...         ...  ...
129324   19999784  2119-12-05  224
129325   19999784  2120-05-28  224
129326   19999784  2119-10-17  224
129327   19999784  2120-10-25  224
129328   19999784  2121-02-05  224

[128880 rows x 3 columns]
['procedures_batch5_hcpcsevents.csv', 'procedures_batch5_procedures_icd.csv']
processing Batch: batch5
       subject_id        date  CCS
0        10000117  2181-11-15   70
1        10000117  2181-11-15  227
2        10002528  2170-03-13  227
3        10003019  2175-11-14  227
4        10003019  2175-12-01  227
...           ...         ...  ...
128655   19997473  2173-09-17   47
128656   19998626  2165-10-31   96
128657   19998626  2165-10-04   96
128658   19999204  2146-06-01   88
128659   19999204  2146-05-30   97

[128169 rows x 3 columns]
['procedures_batch4_hcpcsevents.csv', 'procedures_batch4_procedures_icd.csv']
processing Batch: batch4
       subject_id        date  CCS
0        10000108  2163-09-27  227
1        10000969  2112-06-20  227
2        10001884  2130-10-05  227
3        10001884  2125-12-26  227
4        10001884  2130-10-14  227
...           ...         ...  ...
128927   19999464  2164-01-19  137
128928   19999464  2164-01-19  136
128929   19999464  2164-01-19  140
128930   19999987  2145-11-07  188
128931   19999987  2145-11-02  216

[128431 rows x 3 columns]
['procedures_batch2_hcpcsevents.csv', 'procedures_batch2_procedures_icd.csv']
processing Batch: batch2
       subject_id        date  CCS
0        10000068  2160-03-04  227
1        10000635  2143-12-23  227
2        10000635  2136-06-19  227
3        10000935  2187-07-11  227
4        10000935  2183-11-07  227
...           ...         ...  ...
129548   19999828  2147-07-27  172
129549   19999828  2147-07-27  170
129550   19999828  2147-07-27  170
129551   19999828  2147-07-18   54
129552   19999828  2147-07-19  223

[129013 rows x 3 columns]
['procedures_batch7_hcpcsevents.csv', 'procedures_batch7_procedures_icd.csv']
processing Batch: batch7
       subject_id        date  CCS
0        10000248  2192-11-30  227
1        10000883  2124-05-14  227
6        10002013  2157-10-31  227
7        10002013  2157-10-31   61
8        10002013  2169-12-11  227
...           ...         ...  ...
128603   19999297  2162-08-15  223
128604   19999297  2162-08-18   54
128605   19999297  2162-08-16  222
128606   19999625  2139-10-10  216
128607   19999625  2139-10-14  223

[128144 rows x 3 columns]
['procedures_batch3_hcpcsevents.csv', 'procedures_batch3_procedures_icd.csv']
processing Batch: batch3
       subject_id        date  CCS
0        10000084  2160-12-28  227
1        10001401  2134-10-08  111
2        10001401  2134-10-08  227
3        10001877  2150-11-21  227
4        10002167  2166-05-15  227
...           ...         ...  ...
129718   19999840  2164-09-13  223
129719   19999840  2164-09-14    4
129720   19999840  2164-09-16    4
129721   19999840  2164-07-25  198
129722   19999840  2164-07-25  188

[129193 rows x 3 columns]
['procedures_batch6_hcpcsevents.csv', 'procedures_batch6_procedures_icd.csv']
processing Batch: batch6
       subject_id        date  CCS
0        10000161  2163-08-20  227
1        10001176  2186-11-29  227
2        10002012  2167-03-17  227
3        10002315  2161-03-23  227
4        10002800  2164-07-12   29
...           ...         ...  ...
129933   19999287  2192-01-05   39
129934   19999287  2192-01-07   41
129935   19999287  2192-01-07  231
129936   19999565  2185-06-04  146
129937   19999565  2185-06-06  228

[129434 rows x 3 columns]
        code  counts
212  XW033E5     563
149    92980     323
166    93545     273
108    43268     252
109    43269     196
..       ...     ...
177  BF532Z0       1
84     35721       1
85     35741       1
90     36148       1
0      0048T       1

[242 rows x 2 columns]

The above table is a bit different from diagnoses_icd we encountered before as it comew with date. Since this table contains
all the information we need, we will go ahead with rollup

Now that hcpcsevents file has been rolled, we will go ahead and rollup the procedures_icd file

Since we have all the required data - subject_id, chartdate, icd_code and icd_version, we can go ahead with the rollup.

**Note**: While working with real world data, in case you don't have the required information, you will need to find the source and merge them as we did in the case of diagnoses_icd

In [72]:
#filtered_hcpcs_procedures_ccs.to_csv("./Rolledup_Data/procedures_hcpcs_rolled.csv", index=None)

now that we have both procedure tables rolled up, we can concatenate them to create our final procedures rolled up data

### Medication Data

In MIMIC Medications data come from two sources: 
1. prescriptions.csv where medications prescribed are recorded 
2. emar.csv where procedures are recorded as ndc codes - Hihgly granular information

Information is often duplicated among sources. Some of these events can also be found in inputevents in the ICU module which we can get into later
Our objective is to map the codes to RxNorm and then map to rnxorm ingredient codes

In [7]:
unrolled_medication_data = "./Cleaned_RawData/Medication"
\
# Load a sample file, assuming it's a CSV file, similar to how you did for procedures
medication_files = os.listdir(unrolled_medication_data)
sample_medication_filepath = os.path.join(unrolled_medication_data, medication_files[0])
sample_medication = pd.read_csv(sample_medication_filepath, dtype=str)

# Print the sample data to check what it looks like
print(sample_medication)

# Read the medication mapping file (this might still reference "procedure" as the column name)
medication_rollup_file = "./Rollup_Mappings/NDC_to_RxNorm.csv"
medication_to_rxnorm = pd.read_csv(medication_rollup_file, dtype=str)

# Print the medication-to-CCS mapping file to check its structure
print(medication_to_rxnorm)

        subject_id        date         code coding_system
0         10000032  2180-05-08  51079007320           NDC
1         10000032  2180-05-07  00487980125           NDC
2         10000032  2180-05-07  51079007220           NDC
3         10000032  2180-05-07  00245004101           NDC
4         10000032  2180-05-07            0           NDC
...            ...         ...          ...           ...
2055122   19999784  2121-01-31  00338001711           NDC
2055123   19999784  2121-01-31  00143989001           NDC
2055124   19999784  2121-01-31  57896079101           NDC
2055125   19999784  2121-01-31  00703854023           NDC
2055126   19999784  2121-01-31  08290306510           NDC

[2055127 rows x 4 columns]
               code   RxNorm coding_system
0       00295117904     5499           NDC
1       00295117916     5499           NDC
2       00363026816     5499           NDC
3       00363026832     5499           NDC
4       00363087143     5499           NDC
...             ...      ...           ...
490356  81371017567  2586250           NDC
490357  15455956901  2586262           NDC
490358  51552160103  2587012           NDC
490359  51552160105  2587012           NDC
490360  60814050201  2587665           NDC

[490361 rows x 3 columns]

In [6]:
# Processing prescription.
config={
    "patient_id":"subject_id",
    "parent_column":"RxNorm", # The parent column should be exactly as the parent column in the rollup mapping file
    "child_column":"code",
    "date":"date",
    "rollup_mapping":medication_to_rxnorm
}

rollup_data_by_batch(config ,unrolled_data_folder ="./Cleaned_RawData/Medication")

['medication_batch8_prescriptions.csv']
processing Batch: batch8
        subject_id        date       RxNorm
0         10001217  2157-11-22      1721265
1         10001217  2157-11-21        26225
2         10001217  2157-11-22         4850
3         10001217  2157-11-22        11124
5         10001217  2157-11-23         9863
...            ...         ...          ...
2020156   19998878  2132-08-19         4850
2020157   19998878  2132-08-19  34322_55018
2020158   19998878  2132-08-22        18631
2020159   19998878  2132-08-18         6218
2020160   19998878  2132-08-17         4511

[1869640 rows x 3 columns]
['medication_batch2_prescriptions.csv']
processing Batch: batch2
        subject_id        date      RxNorm
0         10000635  2136-06-19        8591
1         10000635  2136-06-19     1547585
2         10000635  2136-06-19        4850
3         10000635  2136-06-19        4832
4         10000635  2136-06-19  10763_5487
...            ...         ...         ...
2056287   19999828  2147-08-01        3423
2056288   19999828  2147-07-28        2599
2056289   19999828  2147-07-28        7804
2056290   19999828  2147-07-29        3443
2056291   19999828  2147-07-29       20610

[1903552 rows x 3 columns]
['medication_batch7_prescriptions.csv']
processing Batch: batch7
        subject_id        date   RxNorm
0         10000248  2192-11-30     7804
1         10000248  2192-11-30      161
3         10000248  2192-11-30  1546095
4         10000883  2124-05-15     6470
5         10000883  2124-05-15      161
...            ...         ...      ...
2027072   19999625  2138-10-09     9863
2027073   19999625  2138-10-06     5224
2027074   19999625  2138-10-06     6922
2027075   19999625  2138-10-09    82122
2027076   19999625  2138-10-07    82003

[1876628 rows x 3 columns]
['medication_batch4_prescriptions.csv']
processing Batch: batch4
        subject_id        date  RxNorm
1         10000719  2140-04-16    5640
2         10000719  2140-04-16    3339
3         10000719  2140-04-16    7824
4         10000719  2140-04-16     161
5         10000719  2140-04-16   82003
...            ...         ...     ...
2014654   19999987  2145-11-09  114477
2014655   19999987  2145-11-05    8591
2014656   19999987  2145-11-03    9863
2014657   19999987  2145-11-03  114477
2014658   19999987  2145-11-08     161

[1865220 rows x 3 columns]
['medication_batch3_prescriptions.csv']
processing Batch: batch3
        subject_id        date       RxNorm
0         10000084  2160-11-21       746741
1         10000084  2160-11-21        42463
2         10000084  2160-11-24       183379
3         10000084  2160-11-21        36387
4         10000084  2160-11-22        51272
...            ...         ...          ...
2050108   19999840  2164-07-25         1191
2050110   19999840  2164-07-27         6918
2050111   19999840  2164-07-26  10180_10829
2050112   19999840  2164-07-25        83367
2050113   19999840  2164-07-25         4511

[1897915 rows x 3 columns]
['medication_batch6_prescriptions.csv']
processing Batch: batch6
        subject_id        date          RxNorm
0         10000826  2146-12-06            7052
1         10000826  2146-12-06            6470
2         10000826  2146-12-05            5224
3         10000826  2146-12-07           82003
4         10000826  2146-12-07            7804
...            ...         ...             ...
2046428   19999565  2185-06-04        161_7804
2046429   19999565  2185-06-04           67108
2046430   19999565  2185-06-04            3423
2046431   19999565  2185-06-04  4850_8591_9863
2046432   19999565  2185-06-04            7804

[1895432 rows x 3 columns]
['medication_batch5_prescriptions.csv']
processing Batch: batch5
        subject_id        date  RxNorm
0         10000117  2181-11-15    5224
3         10000117  2183-09-19    2180
4         10000117  2183-09-19    2418
5         10000117  2183-09-19     161
6         10000117  2183-09-20  260671
...            ...         ...     ...
2030522   19999204  2146-06-01    6387
2030523   19999204  2146-06-01    6387
2030525   19999204  2146-06-02    6585
2030527   19999204  2146-06-06    6585
2030528   19999204  2146-06-02    6918

[1879909 rows x 3 columns]
['medication_batch1_prescriptions.csv']
processing Batch: batch1
        subject_id        date   RxNorm
0         10000032  2180-05-08     4603
1         10000032  2180-05-07     7213
2         10000032  2180-05-07     4603
3         10000032  2180-05-07     8591
5         10000032  2180-05-07   719872
...            ...         ...      ...
2055122   19999784  2121-01-31     4850
2055123   19999784  2121-01-31    26225
2055124   19999784  2121-01-31     9796
2055125   19999784  2121-01-31    67108
2055126   19999784  2121-01-31  1721265

[1902596 rows x 3 columns]
           code  counts
0             0  188786
63  49281041688   19499
40  19515090941   11213
86  66689036430    9253
80  63323029766    4491
..          ...     ...
18  08881200441       2
32  16590023730       1
88  68258912401       1
39  19515089241       1
13  07610017120       1

[92 rows x 2 columns]

In [ ]:
# Following the same pipeline as before


# loading only a subset of required columns helps save memory

cols=['subject_id', 'starttime', 'ndc']
prescriptions = pd.read_csv(prescriptions_file ,dtype=str,usecols=cols)
prescriptions['starttime'] = prescriptions['starttime'].str[:10]
prescriptions.drop_duplicates(inplace=True)
print(prescriptions)



# #Loading the medication Rollup file
# ndc_to_rxnorm_file = "./Rollup_Mappings/ndc_to_rxnorm.csv"
# ndc_to_rxnorm = pd.read_csv(ndc_to_rxnorm_file, dtype=str)
# print(ndc_to_rxnorm.head())

# # Prforming rollup
# join_columns=['ndc']

# ndc_prescription_rxnorm= rollup(prescriptions ,ndc_to_rxnorm , join_columns ,"rxcui")
# ndc_prescription_rxnorm.to_csv("./Intermediate_Data/ndc_prescription_rxnorm.csv", index=None)
# print(ndc_prescription_rxnorm.head())

# # Summarizing unmapped codes
# print(summarize_unmapped(ndc_prescription_rxnorm,'ndc').head())

# # Extracting only relevantinformation
# extract_columns =['subject_id','rxcui','starttime']
# filtered_ndc_prescription_rxnorm= filter_rolledup_data(ndc_prescription_rxnorm, extract_columns)
# filtered_ndc_prescription_rxnorm.head()

# Check for rows with empty values
print(prescriptions.isna().sum())
print(prescriptions[prescriptions.isna().any(axis=1)])

### Laboratory Data

In MIMIC, the lab observations are saved under labevents.csv.  Lab observations are generall recorded as LOINC codes in US EHR systems, 
however, the latest mimic data doesn't contain that.

In [ ]:
# Define the path to the folder containing lab data
unrolled_lab_data = "./Cleaned_RawData/Labs"

# List all the files in the lab data directory
lab_files = os.listdir(unrolled_lab_data)

# Load a sample lab file
sample_lab_filepath = os.path.join(unrolled_lab_data, lab_files[0])
sample_lab = pd.read_csv(sample_lab_filepath, dtype=str)

# Print the sample lab data to check its structure
print(sample_lab)

If you notice the coding_system, it's ITEMID which is not a standard coding system. MIMIC-IV provides a mapping from ITEMID to LOINC code. We will rollup LOINC codes to LOINC components. Similarly, in real world EHR data, you will have to source/merge data from different sources

In [5]:
itemid_to_loinc = pd.read_csv("./Metadata/lab_itemid_to_loinc.csv", dtype=str)
itemid_to_loinc.dropna(subset=['loinc'],inplace=True)
itemid_to_loinc.head(5)

,itemid,label,fluid,category,valueuom,loinc,loinc_version,notes
5,50903,Cholesterol Ratio (Total/HDL),Blood,Chemistry,Ratio,9830-1,2.71,Mass ratio is more common than molar ratio in ...
6,50911,"Creatine Kinase, MB Isoenzyme",Blood,Chemistry,ng/mL,13969-1,2.71,This is the LOINC code US labs use
8,50937,Hepatitis A Virus Antibody,Blood,Chemistry,N/A|Pos/Neg,13951-9,2.71,More specific method
10,50941,Hepatitis B Surface Antigen,Blood,Chemistry,NaN,5196-1,2.71,More specific method
11,50942,Hepatitis B Virus Core Antibody,Blood,Chemistry,NaN,13952-7,2.71,More specific method

In [13]:
loinc_hierarchy = pd.read_csv("./Metadata/LOINC_Hierarchy_v2.73_version4.csv",dtype=str)
loinc_hierarchy.head(5)

mapping = loinc_hierarchy[['LOINC','LOINC_DESCRIPTION']]
print(mapping)
mapping.drop_duplicates(subset= ['LOINC'],inplace=True)
print(mapping)
mapping.to_csv("loinc_desc.csv",index=None)

           LOINC               LOINC_DESCRIPTION
0         1000-9             DBG Ab SerPl BPU Ql
1       100019-9          ALK gene Mut Anl Bld/T
2       100020-7        GNA11 gene Mut Anl Bld/T
3       100021-5         GNAQ gene Mut Anl Bld/T
4       100022-3         IDH1 gene Mut Anl Bld/T
...          ...                             ...
172158   96976-6  pCO2 baseline-SubMx Exer delta
172159   98501-0           L eye Near VA--uncorr
172160   98502-8           R eye Near VA--uncorr
172161   98508-5             L eye Near VA--corr
172162   98509-3             R eye Near VA--corr

[172163 rows x 2 columns]
           LOINC               LOINC_DESCRIPTION
0         1000-9             DBG Ab SerPl BPU Ql
1       100019-9          ALK gene Mut Anl Bld/T
2       100020-7        GNA11 gene Mut Anl Bld/T
3       100021-5         GNAQ gene Mut Anl Bld/T
4       100022-3         IDH1 gene Mut Anl Bld/T
...          ...                             ...
172158   96976-6  pCO2 baseline-SubMx Exer delta
172159   98501-0           L eye Near VA--uncorr
172160   98502-8           R eye Near VA--uncorr
172161   98508-5             L eye Near VA--corr
172162   98509-3             R eye Near VA--corr

[172163 rows x 2 columns]

/tmp/ipykernel_5503/1198749279.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mapping.drop_duplicates(subset= ['LOINC'],inplace=True)

In [7]:
loinc_rollup = loinc_hierarchy[['LOINC','PARENT_LOINC']]
loinc_rollup = loinc_rollup.rename(columns={'LOINC':'loinc','PARENT_LOINC':'LoincComponent'})
itemid_to_loinc=itemid_to_loinc[['itemid','loinc']]

lab_to_LoincComponent = pd.merge(itemid_to_loinc,loinc_rollup, on ="loinc", how="left")
print(lab_to_LoincComponent.head(5))

lab_to_LoincComponent=lab_to_LoincComponent.rename(columns={"itemid":'code'})
lab_to_LoincComponent['coding_system']='ITEMID'

lab_to_LoincComponent=lab_to_LoincComponent[['code','LoincComponent','coding_system']]
lab_to_LoincComponent.head(5)

  itemid    loinc LoincComponent
0  50903   9830-1     LP307370-9
1  50911  13969-1      LP15513-2
2  50937  13951-9      LP38316-3
3  50941   5196-1      LP38331-2
4  50942  13952-7      LP38323-9

    code LoincComponent coding_system
0  50903     LP307370-9        ITEMID
1  50911      LP15513-2        ITEMID
2  50937      LP38316-3        ITEMID
3  50941      LP38331-2        ITEMID
4  50942      LP38323-9        ITEMID

In [9]:
# Processing prescription.
config={
    "patient_id":"subject_id",
    "parent_column":"LoincComponent", # The parent column should be exactly as the parent column in the rollup mapping file
    "child_column":"code",
    "date":"date",
    "rollup_mapping":lab_to_LoincComponent
}

rollup_data_by_batch(config ,unrolled_data_folder ="./Cleaned_RawData/Labs")

['labs_batch6_labevents.csv']
processing Batch: batch6
         subject_id        date LoincComponent
5          10000161  2163-05-03      LP15957-1
7          10000161  2163-05-03      LP14328-6
8          10000161  2163-05-03      LP14539-8
12         10000161  2163-05-03      LP14540-6
16         10000161  2163-05-03      LP14313-8
...             ...         ...            ...
16452202   19999565  2185-06-04      LP14267-6
16452209   19999565  2185-06-04      LP15957-1
16452210   19999565  2185-06-04      LP14082-9
16452233   19999565  2185-06-04      LP14635-4
16452254   19999565  2185-06-05      LP14635-4

[1708560 rows x 3 columns]
['labs_batch4_labevents.csv']
processing Batch: batch4
         subject_id        date LoincComponent
1          10000108  2163-09-27      LP14328-6
2          10000108  2163-09-27      LP14539-8
5          10000108  2163-09-27      LP14540-6
9          10000108  2163-09-27      LP14313-8
10         10000108  2163-09-27      LP14267-6
...             ...         ...            ...
16473345   19999987  2145-11-05      LP14635-4
16473369   19999987  2145-11-06      LP14635-4
16473378   19999987  2145-11-06      LP15957-1
16473393   19999987  2145-11-07      LP14635-4
16473408   19999987  2145-11-09      LP14635-4

[1714295 rows x 3 columns]
['labs_batch8_labevents.csv']
processing Batch: batch8
         subject_id        date LoincComponent
0          10000280  2151-03-18      LP14328-6
1          10000280  2151-03-18      LP14539-8
4          10000280  2151-03-18      LP14540-6
8          10000280  2151-03-18      LP14313-8
9          10000280  2151-03-18      LP14267-6
...             ...         ...            ...
16467520   19999733  2152-07-08      LP14539-8
16467523   19999733  2152-07-08      LP14540-6
16467527   19999733  2152-07-08      LP14313-8
16467528   19999733  2152-07-08      LP14267-6
16467535   19999733  2152-07-08      LP14082-9

[1710518 rows x 3 columns]
['labs_batch2_labevents.csv']
processing Batch: batch2
         subject_id        date LoincComponent
0          10000635  2136-04-08      LP14082-9
20         10000635  2138-09-29      LP14328-6
21         10000635  2138-09-29      LP14539-8
24         10000635  2138-09-29      LP14540-6
28         10000635  2138-09-29      LP14313-8
...             ...         ...            ...
16517264   19999828  2149-01-14      LP14635-4
16517288   19999828  2149-01-15      LP14635-4
16517323   19999828  2149-01-16      LP14635-4
16517347   19999828  2149-01-17      LP14635-4
16517371   19999828  2149-01-18      LP14635-4

[1709016 rows x 3 columns]
['labs_batch1_labevents.csv']
processing Batch: batch1
         subject_id        date LoincComponent
0          10000032  2180-03-23      LP14635-4
2          10000032  2180-03-23      LP14546-3
21         10000032  2180-03-23     LP307370-9
22         10000032  2180-03-23      LP15489-5
23         10000032  2180-03-23      LP15491-1
...             ...         ...            ...
16551845   19999784  2124-08-21      LP14328-6
16551846   19999784  2124-08-21      LP14539-8
16551849   19999784  2124-08-21      LP14540-6
16551853   19999784  2124-08-21      LP14313-8
16551854   19999784  2124-08-21      LP14267-6

[1718484 rows x 3 columns]
['labs_batch3_labevents.csv']
processing Batch: batch3
         subject_id        date LoincComponent
13         10000084  2160-11-20      LP14635-4
34         10000084  2160-11-20      LP15957-1
36         10000084  2160-11-20      LP14328-6
37         10000084  2160-11-20      LP14539-8
40         10000084  2160-11-20      LP14540-6
...             ...         ...            ...
16609260   19999840  2164-09-15      LP14267-6
16609275   19999840  2164-09-15      LP14635-4
16609302   19999840  2164-09-16      LP14635-4
16609328   19999840  2164-09-17      LP14635-4
16609347   19999840  2164-09-17      LP15513-2

[1723986 rows x 3 columns]
['labs_batch7_labevents.csv']
processing Batch: batch7
         subject_id        date LoincComponent
4          10000248  2192-11-29      LP15957-1
6          10000248  2192-11-29      LP14328-6
7          10000248  2192-11-29      LP14539-8
10         10000248  2192-11-29      LP14540-6
14         10000248  2192-11-29      LP14313-8
...             ...         ...            ...
16412288   19999625  2139-10-12      LP15957-1
16412306   19999625  2139-10-13      LP14635-4
16412325   19999625  2139-10-14      LP14635-4
16412344   19999625  2139-10-15      LP14635-4
16412356   19999625  2139-10-16      LP14635-4

[1704613 rows x 3 columns]
['labs_batch5_labevents.csv']
processing Batch: batch5
         subject_id        date LoincComponent
10         10000117  2174-06-03     LP307370-9
11         10000117  2174-06-03      LP15489-5
12         10000117  2174-06-03      LP15491-1
26         10000117  2174-06-03      LP14635-4
37         10000117  2174-06-03      LP14082-9
...             ...         ...            ...
16501653   19999466  2116-08-30      LP14540-6
16501657   19999466  2116-08-30      LP14313-8
16501658   19999466  2116-08-30      LP14267-6
16501672   19999466  2116-08-30      LP15014-1
16501678   19999466  2116-08-30      LP14635-4

[1709753 rows x 3 columns]
      code  counts
362  51221  218775
402  51265  218717
363  51222  218647
433  51301  218646
389  51250  218644
..     ...     ...
787  52055       1
783  52032       1
564  51459       1
747  51927       1
713  51784       1

[942 rows x 2 columns]

In [ ]:
# loading only a subset of required columns helps save memory

cols=['subject_id', 'charttime', 'itemid']
labs = pd.read_csv(labs_file ,dtype=str,usecols=cols)
labs

In [ ]:
labs['starttime'] = labs['starttime'].str[:10]
labs.drop_duplicates(inplace=True)
print(labs)

In [ ]:
import pandas as pd
import os

# Parameters for chunk processing
chunk_size = 5000000  # Adjust based on your system's memory

# Input and output file paths
labs_file = "/n/data1/hsph/biostat/celehs/lab/va67/MIMIC/mimic-iv-codified-3.1/files/mimiciv/3.1/hosp/labevents.csv"  # Replace with your file path
itemid_to_loinc_file = "./Metadata/lab_itemid_to_loinc.csv"
output_file = "./Intermediate_Data/loinc_labs.csv"

# Columns to read
cols=['subject_id', 'charttime', 'itemid']
join_columns=['itemid']

# Loading the medication Rollup file
print("Loading loinc mapping...")
itemid_to_loinc = pd.read_csv(itemid_to_loinc_file , dtype=str)
itemid_to_loinc=itemid_to_loinc[['itemid','loinc']]


print("Mapping loaded:")
print(itemid_to_loinc.head())

# Ensure the output file is initialized
if os.path.exists(output_file):
    os.remove(output_file)

# Process the prescriptions file in chunks
print("Processing prescriptions file in batches...")
for i, chunk in enumerate(pd.read_csv(labs_file, dtype=str, usecols=cols, chunksize=chunk_size)):
    print(f"Processing batch {i+1}...")
    
    # Process the chunk
    chunk['charttime'] = chunk['charttime'].str[:10]
    chunk.drop_duplicates(inplace=True)

    print(chunk)
    
    # Perform the rollup for this chunk
    labs_chunk_rolled = rollup(chunk, itemid_to_loinc, join_columns,"loinc")

    print(labs_chunk_rolled)
    
    # Append the chunk to the output file
    labs_chunk_rolled.to_csv(output_file, mode='a', index=False, header=not os.path.exists(output_file))
    
    print(f"Batch {i+1} appended to {output_file}")

Loading loinc mapping...
Mapping loaded:
  itemid loinc
0  50856   NaN
1  50867   NaN
2  50873   NaN
3  50874   NaN
4  50893   NaN
Processing prescriptions file in batches...
Processing batch 1...
        subject_id itemid   charttime
0         10000032  50931  2180-03-23
1         10000032  51071  2180-03-23
2         10000032  51074  2180-03-23
3         10000032  51075  2180-03-23
4         10000032  51079  2180-03-23
...            ...    ...         ...
4999995   10327918  51678  2146-09-20
4999996   10327918  51221  2146-09-20
4999997   10327918  51222  2146-09-20
4999998   10327918  51248  2146-09-20
4999999   10327918  51249  2146-09-20

[4403744 rows x 3 columns]
        subject_id itemid   charttime    loinc Rollup_Status
0         10000032  50931  2180-03-23   2345-7             1
1         10000032  51071  2180-03-23      NaN             0
2         10000032  51074  2180-03-23  19270-8             1
3         10000032  51075  2180-03-23      NaN             0
4         10000032  51079  2180-03-23      NaN             0
...            ...    ...         ...      ...           ...
4403739   10327918  51678  2146-09-20      NaN             0
4403740   10327918  51221  2146-09-20      NaN             0
4403741   10327918  51222  2146-09-20      NaN             0
4403742   10327918  51248  2146-09-20      NaN             0
4403743   10327918  51249  2146-09-20      NaN             0

[4403744 rows x 5 columns]
Batch 1 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 2...
        subject_id itemid   charttime
5000000   10327918  51250  2146-09-20
5000001   10327918  51265  2146-09-20
5000002   10327918  51277  2146-09-20
5000003   10327918  51279  2146-09-20
5000004   10327918  51301  2146-09-20
...            ...    ...         ...
9999995   10654750  50882  2117-08-12
9999996   10654750  50902  2117-08-12
9999997   10654750  50912  2117-08-12
9999998   10654750  50931  2117-08-12
9999999   10654750  50971  2117-08-12

[4402301 rows x 3 columns]
        subject_id itemid   charttime   loinc Rollup_Status
0         10327918  51250  2146-09-20     NaN             0
1         10327918  51265  2146-09-20     NaN             0
2         10327918  51277  2146-09-20     NaN             0
3         10327918  51279  2146-09-20     NaN             0
4         10327918  51301  2146-09-20     NaN             0
...            ...    ...         ...     ...           ...
4402296   10654750  50882  2117-08-12     NaN             0
4402297   10654750  50902  2117-08-12     NaN             0
4402298   10654750  50912  2117-08-12     NaN             0
4402299   10654750  50931  2117-08-12  2345-7             1
4402300   10654750  50971  2117-08-12     NaN             0

[4402301 rows x 5 columns]
Batch 2 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 3...
         subject_id itemid   charttime
10000000   10654750  50983  2117-08-12
10000001   10654750  51006  2117-08-12
10000002   10654750  50915  2117-08-12
10000003   10654750  51237  2117-08-13
10000004   10654750  51274  2117-08-13
...             ...    ...         ...
14999995   10976602  50882  2148-08-19
14999996   10976602  50902  2148-08-19
14999997   10976602  50912  2148-08-19
14999998   10976602  50920  2148-08-19
14999999   10976602  50971  2148-08-19

[4398141 rows x 3 columns]
        subject_id itemid   charttime loinc Rollup_Status
0         10654750  50983  2117-08-12   NaN             0
1         10654750  51006  2117-08-12   NaN             0
2         10654750  50915  2117-08-12   NaN             0
3         10654750  51237  2117-08-13   NaN             0
4         10654750  51274  2117-08-13   NaN             0
...            ...    ...         ...   ...           ...
4398136   10976602  50882  2148-08-19   NaN             0
4398137   10976602  50902  2148-08-19   NaN             0
4398138   10976602  50912  2148-08-19   NaN             0
4398139   10976602  50920  2148-08-19   NaN             0
4398140   10976602  50971  2148-08-19   NaN             0

[4398141 rows x 5 columns]
Batch 3 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 4...
         subject_id itemid   charttime
15000000   10976602  50983  2148-08-19
15000001   10976602  50993  2148-08-19
15000002   10976602  51006  2148-08-19
15000003   10976602  50955  2148-09-08
15000004   10976602  51003  2148-09-08
...             ...    ...         ...
19999995   11287469  51071  2166-09-27
19999996   11287469  51074  2166-09-27
19999997   11287469  51075  2166-09-27
19999998   11287469  51079  2166-09-27
19999999   11287469  51087  2166-09-27

[4413214 rows x 3 columns]
        subject_id itemid   charttime    loinc Rollup_Status
0         10976602  50983  2148-08-19      NaN             0
1         10976602  50993  2148-08-19      NaN             0
2         10976602  51006  2148-08-19      NaN             0
3         10976602  50955  2148-09-08      NaN             0
4         10976602  51003  2148-09-08      NaN             0
...            ...    ...         ...      ...           ...
4413209   11287469  51071  2166-09-27      NaN             0
4413210   11287469  51074  2166-09-27  19270-8             1
4413211   11287469  51075  2166-09-27      NaN             0
4413212   11287469  51079  2166-09-27      NaN             0
4413213   11287469  51087  2166-09-27      NaN             0

[4413214 rows x 5 columns]
Batch 4 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 5...
         subject_id itemid   charttime
20000000   11287469  51090  2166-09-27
20000001   11287469  51092  2166-09-27
20000002   11287469  51103  2166-09-27
20000003   11287469  51989  2166-09-27
20000004   11287469  51463  2166-09-27
...             ...    ...         ...
24999988   11601011  51512  2123-06-23
24999989   11601011  51514  2123-06-23
24999990   11601011  51516  2123-06-23
24999991   11601011  51519  2123-06-23
24999992   11601011  52424  2123-06-23

[4390166 rows x 3 columns]
        subject_id itemid   charttime   loinc Rollup_Status
0         11287469  51090  2166-09-27     NaN             0
1         11287469  51092  2166-09-27     NaN             0
2         11287469  51103  2166-09-27     NaN             0
3         11287469  51989  2166-09-27     NaN             0
4         11287469  51463  2166-09-27  5769-5             1
...            ...    ...         ...     ...           ...
4390161   11601011  51512  2123-06-23     NaN             0
4390162   11601011  51514  2123-06-23     NaN             0
4390163   11601011  51516  2123-06-23     NaN             0
4390164   11601011  51519  2123-06-23     NaN             0
4390165   11601011  52424  2123-06-23     NaN             0

[4390166 rows x 5 columns]
Batch 5 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 6...
         subject_id itemid   charttime
25000000   11601011  51279  2123-06-23
25000001   11601011  51301  2123-06-23
25000002   11601011  52172  2123-06-23
25000003   11601011  51221  2123-06-24
25000004   11601011  51222  2123-06-24
...             ...    ...         ...
29999995   11925827  50912  2169-01-07
29999996   11925827  50931  2169-01-07
29999997   11925827  50960  2169-01-07
29999998   11925827  50970  2169-01-07
29999999   11925827  50971  2169-01-07

[4401768 rows x 3 columns]
        subject_id itemid   charttime   loinc Rollup_Status
0         11601011  51279  2123-06-23     NaN             0
1         11601011  51301  2123-06-23     NaN             0
2         11601011  52172  2123-06-23     NaN             0
3         11601011  51221  2123-06-24     NaN             0
4         11601011  51222  2123-06-24     NaN             0
...            ...    ...         ...     ...           ...
4401763   11925827  50912  2169-01-07     NaN             0
4401764   11925827  50931  2169-01-07  2345-7             1
4401765   11925827  50960  2169-01-07     NaN             0
4401766   11925827  50970  2169-01-07     NaN             0
4401767   11925827  50971  2169-01-07     NaN             0

[4401768 rows x 5 columns]
Batch 6 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 7...
         subject_id itemid   charttime
30000000   11925827  50983  2169-01-07
30000001   11925827  51006  2169-01-07
30000002   11925827  51134  2169-01-08
30000003   11925827  51137  2169-01-08
30000004   11925827  51143  2169-01-08
...             ...    ...         ...
34999995   12236850  51000  2132-06-15
34999996   12236850  51006  2132-06-15
34999997   12236850  51678  2132-06-15
34999998   12236850  51464  2132-06-15
34999999   12236850  51466  2132-06-15

[4388974 rows x 3 columns]
        subject_id itemid   charttime loinc Rollup_Status
0         11925827  50983  2169-01-07   NaN             0
1         11925827  51006  2169-01-07   NaN             0
2         11925827  51134  2169-01-08   NaN             0
3         11925827  51137  2169-01-08   NaN             0
4         11925827  51143  2169-01-08   NaN             0
...            ...    ...         ...   ...           ...
4388969   12236850  51000  2132-06-15   NaN             0
4388970   12236850  51006  2132-06-15   NaN             0
4388971   12236850  51678  2132-06-15   NaN             0
4388972   12236850  51464  2132-06-15   NaN             0
4388973   12236850  51466  2132-06-15   NaN             0

[4388974 rows x 5 columns]
Batch 7 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 8...
         subject_id itemid   charttime
35000000   12236850  51478  2132-06-15
35000001   12236850  51484  2132-06-15
35000002   12236850  51486  2132-06-15
35000003   12236850  51487  2132-06-15
35000004   12236850  51491  2132-06-15
...             ...    ...         ...
39999995   12542274  50931  2136-08-22
39999996   12542274  50934  2136-08-22
39999997   12542274  50947  2136-08-22
39999998   12542274  50954  2136-08-22
39999999   12542274  50960  2136-08-22

[4436145 rows x 3 columns]
        subject_id itemid   charttime   loinc Rollup_Status
0         12236850  51478  2132-06-15     NaN             0
1         12236850  51484  2132-06-15     NaN             0
2         12236850  51486  2132-06-15     NaN             0
3         12236850  51487  2132-06-15     NaN             0
4         12236850  51491  2132-06-15     NaN             0
...            ...    ...         ...     ...           ...
4436140   12542274  50931  2136-08-22  2345-7             1
4436141   12542274  50934  2136-08-22     NaN             0
4436142   12542274  50947  2136-08-22     NaN             0
4436143   12542274  50954  2136-08-22     NaN             0
4436144   12542274  50960  2136-08-22     NaN             0

[4436145 rows x 5 columns]
Batch 8 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 9...
         subject_id itemid   charttime
40000000   12542274  50963  2136-08-22
40000001   12542274  50970  2136-08-22
40000002   12542274  50971  2136-08-22
40000003   12542274  50983  2136-08-22
40000004   12542274  50993  2136-08-22
...             ...    ...         ...
44999995   12852481  51200  2177-08-23
44999996   12852481  51221  2177-08-23
44999997   12852481  51222  2177-08-23
44999998   12852481  51244  2177-08-23
44999999   12852481  51248  2177-08-23

[4398415 rows x 3 columns]
        subject_id itemid   charttime  loinc Rollup_Status
0         12542274  50963  2136-08-22    NaN             0
1         12542274  50970  2136-08-22    NaN             0
2         12542274  50971  2136-08-22    NaN             0
3         12542274  50983  2136-08-22    NaN             0
4         12542274  50993  2136-08-22    NaN             0
...            ...    ...         ...    ...           ...
4398410   12852481  51200  2177-08-23  713-8             1
4398411   12852481  51221  2177-08-23    NaN             0
4398412   12852481  51222  2177-08-23    NaN             0
4398413   12852481  51244  2177-08-23  736-9             1
4398414   12852481  51248  2177-08-23    NaN             0

[4398415 rows x 5 columns]
Batch 9 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 10...
         subject_id itemid   charttime
45000000   12852481  51249  2177-08-23
45000001   12852481  51250  2177-08-23
45000002   12852481  51254  2177-08-23
45000003   12852481  51256  2177-08-23
45000004   12852481  51265  2177-08-23
...             ...    ...         ...
49999995   13166379  51275  2184-10-29
49999996   13166379  51221  2184-10-29
49999997   13166379  51222  2184-10-29
49999998   13166379  51248  2184-10-29
49999999   13166379  51249  2184-10-29

[4430553 rows x 3 columns]
        subject_id itemid   charttime    loinc Rollup_Status
0         12852481  51249  2177-08-23      NaN             0
1         12852481  51250  2177-08-23      NaN             0
2         12852481  51254  2177-08-23   5905-5             1
3         12852481  51256  2177-08-23    770-8             1
4         12852481  51265  2177-08-23      NaN             0
...            ...    ...         ...      ...           ...
4430548   13166379  51275  2184-10-29  14979-9             1
4430549   13166379  51221  2184-10-29      NaN             0
4430550   13166379  51222  2184-10-29      NaN             0
4430551   13166379  51248  2184-10-29      NaN             0
4430552   13166379  51249  2184-10-29      NaN             0

[4430553 rows x 5 columns]
Batch 10 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 11...
         subject_id itemid   charttime
50000000   13166379  51250  2184-10-29
50000001   13166379  51265  2184-10-29
50000002   13166379  51277  2184-10-29
50000003   13166379  51279  2184-10-29
50000004   13166379  51301  2184-10-29
...             ...    ...         ...
54999991   13477689  50887  2160-04-27
54999992   13477689  50933  2160-04-27
54999993   13477689  51137  2160-04-27
54999994   13477689  51143  2160-04-27
54999995   13477689  51144  2160-04-27

[4410833 rows x 3 columns]
        subject_id itemid   charttime loinc Rollup_Status
0         13166379  51250  2184-10-29   NaN             0
1         13166379  51265  2184-10-29   NaN             0
2         13166379  51277  2184-10-29   NaN             0
3         13166379  51279  2184-10-29   NaN             0
4         13166379  51301  2184-10-29   NaN             0
...            ...    ...         ...   ...           ...
4410828   13477689  50887  2160-04-27   NaN             0
4410829   13477689  50933  2160-04-27   NaN             0
4410830   13477689  51137  2160-04-27   NaN             0
4410831   13477689  51143  2160-04-27   NaN             0
4410832   13477689  51144  2160-04-27   NaN             0

[4410833 rows x 5 columns]
Batch 11 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 12...
         subject_id itemid   charttime
55000000   13477689  51233  2160-04-27
55000001   13477689  51244  2160-04-27
55000002   13477689  51246  2160-04-27
55000003   13477689  51248  2160-04-27
55000004   13477689  51249  2160-04-27
...             ...    ...         ...
59999995   13799578  50970  2168-11-05
59999996   13799578  50971  2168-11-05
59999997   13799578  50983  2168-11-05
59999998   13799578  51006  2168-11-05
59999999   13799578  51678  2168-11-05

[4404444 rows x 3 columns]
        subject_id itemid   charttime  loinc Rollup_Status
0         13477689  51233  2160-04-27    NaN             0
1         13477689  51244  2160-04-27  736-9             1
2         13477689  51246  2160-04-27    NaN             0
3         13477689  51248  2160-04-27    NaN             0
4         13477689  51249  2160-04-27    NaN             0
...            ...    ...         ...    ...           ...
4404439   13799578  50970  2168-11-05    NaN             0
4404440   13799578  50971  2168-11-05    NaN             0
4404441   13799578  50983  2168-11-05    NaN             0
4404442   13799578  51006  2168-11-05    NaN             0
4404443   13799578  51678  2168-11-05    NaN             0

[4404444 rows x 5 columns]
Batch 12 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 13...
         subject_id itemid   charttime
60000000   13799578  51221  2168-11-05
60000001   13799578  51222  2168-11-05
60000002   13799578  51248  2168-11-05
60000003   13799578  51249  2168-11-05
60000004   13799578  51250  2168-11-05
...             ...    ...         ...
64999995   14111088  51678  2152-10-02
64999996   14111088  51237  2152-10-30
64999997   14111088  51274  2152-10-30
64999998   14111088  51221  2152-10-30
64999999   14111088  51222  2152-10-30

[4392876 rows x 3 columns]
        subject_id itemid   charttime loinc Rollup_Status
0         13799578  51221  2168-11-05   NaN             0
1         13799578  51222  2168-11-05   NaN             0
2         13799578  51248  2168-11-05   NaN             0
3         13799578  51249  2168-11-05   NaN             0
4         13799578  51250  2168-11-05   NaN             0
...            ...    ...         ...   ...           ...
4392871   14111088  51678  2152-10-02   NaN             0
4392872   14111088  51237  2152-10-30   NaN             0
4392873   14111088  51274  2152-10-30   NaN             0
4392874   14111088  51221  2152-10-30   NaN             0
4392875   14111088  51222  2152-10-30   NaN             0

[4392876 rows x 5 columns]
Batch 13 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 14...
         subject_id itemid   charttime
65000000   14111088  51248  2152-10-30
65000001   14111088  51249  2152-10-30
65000002   14111088  51250  2152-10-30
65000003   14111088  51265  2152-10-30
65000004   14111088  51277  2152-10-30
...             ...    ...         ...
69999995   14426280  50943  2156-10-16
69999996   14426280  50947  2156-10-16
69999997   14426280  51006  2156-10-16
69999998   14426280  51663  2156-10-16
69999999   14426280  51678  2156-10-16

[4397578 rows x 3 columns]
        subject_id itemid   charttime    loinc Rollup_Status
0         14111088  51248  2152-10-30      NaN             0
1         14111088  51249  2152-10-30      NaN             0
2         14111088  51250  2152-10-30      NaN             0
3         14111088  51265  2152-10-30      NaN             0
4         14111088  51277  2152-10-30      NaN             0
...            ...    ...         ...      ...           ...
4397573   14426280  50943  2156-10-16  13955-0             1
4397574   14426280  50947  2156-10-16      NaN             0
4397575   14426280  51006  2156-10-16      NaN             0
4397576   14426280  51663  2156-10-16      NaN             0
4397577   14426280  51678  2156-10-16      NaN             0

[4397578 rows x 5 columns]
Batch 14 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 15...
         subject_id itemid   charttime
70000000   14426280  51133  2156-10-16
70000001   14426280  51146  2156-10-16
70000002   14426280  51200  2156-10-16
70000003   14426280  51221  2156-10-16
70000004   14426280  51222  2156-10-16
...             ...    ...         ...
74999921   14744455  51237  2174-05-04
74999922   14744455  51274  2174-05-04
74999923   14744455  51275  2174-05-04
74999947   14744455  51269  2174-05-04
74999965   14744455  50954  2174-05-04

[4426104 rows x 3 columns]
        subject_id itemid   charttime    loinc Rollup_Status
0         14426280  51133  2156-10-16      NaN             0
1         14426280  51146  2156-10-16    706-2             1
2         14426280  51200  2156-10-16    713-8             1
3         14426280  51221  2156-10-16      NaN             0
4         14426280  51222  2156-10-16      NaN             0
...            ...    ...         ...      ...           ...
4426099   14744455  51237  2174-05-04      NaN             0
4426100   14744455  51274  2174-05-04      NaN             0
4426101   14744455  51275  2174-05-04  14979-9             1
4426102   14744455  51269  2174-05-04    783-1             1
4426103   14744455  50954  2174-05-04      NaN             0

[4426104 rows x 5 columns]
Batch 15 appended to ./Intermediate_Data/loinc_labs.csv
Processing batch 16...
         subject_id itemid   charttime

In [5]:
import pandas as pd
import os

labs_file = "./Intermediate_Data/loinc_labs.csv"
output_file = "./Intermediate_Data/filtered_labs_loinc.csv"

# Columns to extract
extract_columns = ['subject_id', 'charttime', 'loinc']

# Initialize output file
if os.path.exists(output_file):
    os.remove(output_file)

# Define a chunk size for reading
chunk_size = 5000000   # Adjust based on your system's memory

# Process the labs file in chunks
print("Processing labs file in chunks...")
for i, chunk in enumerate(pd.read_csv(labs_file, dtype=str, chunksize=chunk_size)):
    print(f"Processing batch {i+1}...")
    print(chunk)

    # Filter the chunk to include only relevant columns
    filtered_chunk =  filter_rolledup_data(chunk, extract_columns)
    print(filtered_chunk)
    
    # Append the filtered chunk to the output file
    filtered_chunk.to_csv(output_file, mode='a', index=False, header=not os.path.exists(output_file))
    
    print(f"Batch {i+1} appended to {output_file}")

print("Processing complete!")

Processing labs file in chunks...
Processing batch 1...
        subject_id itemid   charttime    loinc Rollup_Status
0         10000032  50931  2180-03-23   2345-7             1
1         10000032  51071  2180-03-23      NaN             0
2         10000032  51074  2180-03-23  19270-8             1
3         10000032  51075  2180-03-23      NaN             0
4         10000032  51079  2180-03-23      NaN             0
...            ...    ...         ...      ...           ...
4999995   10375741  50971  2147-02-10      NaN             0
4999996   10375741  50983  2147-02-10      NaN             0
4999997   10375741  51006  2147-02-10      NaN             0
4999998   10375741  51678  2147-02-10      NaN             0
4999999   10375741  51221  2147-02-10      NaN             0

[5000000 rows x 5 columns]
        subject_id   charttime    loinc
0         10000032  2180-03-23   2345-7
2         10000032  2180-03-23  19270-8
21        10000032  2180-03-23   9830-1
22        10000032  2180-03-23   2085-9
23        10000032  2180-03-23  13457-7
...            ...         ...      ...
4999948   10375741  2147-02-07  14979-9
4999956   10375741  2147-02-08  20578-1
4999973   10375741  2147-02-09   2345-7
4999984   10375741  2147-02-09  14979-9
4999990   10375741  2147-02-10   2345-7

[532711 rows x 3 columns]
Batch 1 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 2...
        subject_id itemid   charttime loinc Rollup_Status
5000000   10375741  51222  2147-02-10   NaN             0
5000001   10375741  51248  2147-02-10   NaN             0
5000002   10375741  51249  2147-02-10   NaN             0
5000003   10375741  51250  2147-02-10   NaN             0
5000004   10375741  51265  2147-02-10   NaN             0
...            ...    ...         ...   ...           ...
9999995   10744366  50810  2118-10-09   NaN             0
9999996   10744366  50811  2118-10-09   NaN             0
9999997   10744366  50812  2118-10-09   NaN             0
9999998   10744366  50813  2118-10-09   NaN             0
9999999   10744366  50816  2118-10-09   NaN             0

[5000000 rows x 5 columns]
        subject_id   charttime    loinc
5000011   10375741  2147-02-11  14979-9
5000031   10375741  2147-02-11   2345-7
5000045   10375741  2147-02-11  13969-1
5000063   10375741  2147-02-12   2345-7
5000084   10375741  2147-02-13   2345-7
...            ...         ...      ...
9999975   10744274  2112-02-04    706-2
9999976   10744274  2112-02-04    713-8
9999979   10744274  2112-02-04    736-9
9999983   10744274  2112-02-04   5905-5
9999984   10744274  2112-02-04    770-8

[534101 rows x 3 columns]
Batch 2 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 3...
         subject_id itemid   charttime  loinc Rollup_Status
10000000   10744366  50817  2118-10-09    NaN             0
10000001   10744366  50818  2118-10-09    NaN             0
10000002   10744366  50820  2118-10-09    NaN             0
10000003   10744366  50821  2118-10-09    NaN             0
10000004   10744366  50822  2118-10-09    NaN             0
...             ...    ...         ...    ...           ...
14999995   11103704  51222  2119-06-23    NaN             0
14999996   11103704  51244  2119-06-23  736-9             1
14999997   11103704  51248  2119-06-23    NaN             0
14999998   11103704  51249  2119-06-23    NaN             0
14999999   11103704  51250  2119-06-23    NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime   loinc
10000017   10744366  2118-10-09  2345-7
10000049   10744366  2118-10-10  2345-7
10000064   10744366  2118-10-11   706-2
10000065   10744366  2118-10-11   713-8
10000068   10744366  2118-10-11   736-9
...             ...         ...     ...
14999936   11103704  2119-05-26  5905-5
14999937   11103704  2119-05-26   770-8
14999992   11103704  2119-06-23   706-2
14999993   11103704  2119-06-23   713-8
14999996   11103704  2119-06-23   736-9

[536508 rows x 3 columns]
Batch 3 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 4...
         subject_id itemid   charttime   loinc Rollup_Status
15000000   11103704  51254  2119-06-23  5905-5             1
15000001   11103704  51256  2119-06-23   770-8             1
15000002   11103704  51265  2119-06-23     NaN             0
15000003   11103704  51277  2119-06-23     NaN             0
15000004   11103704  51279  2119-06-23     NaN             0
...             ...    ...         ...     ...           ...
19999995   11461906  51221  2153-07-03     NaN             0
19999996   11461906  51222  2153-07-03     NaN             0
19999997   11461906  51248  2153-07-03     NaN             0
19999998   11461906  51249  2153-07-03     NaN             0
19999999   11461906  51250  2153-07-03     NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
15000000   11103704  2119-06-23   5905-5
15000001   11103704  2119-06-23    770-8
15000007   11103704  2119-07-21    706-2
15000008   11103704  2119-07-21    713-8
15000011   11103704  2119-07-21    736-9
...             ...         ...      ...
19999940   11461906  2153-06-17  14979-9
19999960   11461906  2153-06-18   9830-1
19999961   11461906  2153-06-18   2085-9
19999965   11461906  2153-06-18   2345-7
19999980   11461906  2153-06-19   2345-7

[527898 rows x 3 columns]
Batch 4 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 5...
         subject_id itemid   charttime   loinc Rollup_Status
20000000   11461906  51265  2153-07-03     NaN             0
20000001   11461906  51277  2153-07-03     NaN             0
20000002   11461906  51279  2153-07-03     NaN             0
20000003   11461906  51301  2153-07-03     NaN             0
20000004   11461906  50863  2153-07-03     NaN             0
...             ...    ...         ...     ...           ...
24999995   11825674  52135  2140-07-06     NaN             0
24999996   11825674  52172  2140-07-06     NaN             0
24999997   11825674  51463  2140-07-06  5769-5             1
24999998   11825674  51464  2140-07-06     NaN             0
24999999   11825674  51466  2140-07-06     NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime   loinc
20000008   11461906  2153-07-03  2986-8
20000018   11461906  2153-08-14  2345-7
20000022   11461906  2153-08-14   706-2
20000023   11461906  2153-08-14   713-8
20000026   11461906  2153-08-14   736-9
...             ...         ...     ...
24999978   11825674  2140-07-06   713-8
24999981   11825674  2140-07-06   736-9
24999985   11825674  2140-07-06  5905-5
24999986   11825674  2140-07-06   770-8
24999997   11825674  2140-07-06  5769-5

[533126 rows x 3 columns]
Batch 5 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 6...
         subject_id itemid   charttime   loinc Rollup_Status
25000000   11825674  51476  2140-07-06     NaN             0
25000001   11825674  51478  2140-07-06     NaN             0
25000002   11825674  51484  2140-07-06     NaN             0
25000003   11825674  51486  2140-07-06     NaN             0
25000004   11825674  51487  2140-07-06     NaN             0
...             ...    ...         ...     ...           ...
29999995   12176320  51248  2186-11-03     NaN             0
29999996   12176320  51249  2186-11-03     NaN             0
29999997   12176320  51250  2186-11-03     NaN             0
29999998   12176320  51254  2186-11-03  5905-5             1
29999999   12176320  51256  2186-11-03   770-8             1

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
25000015   11825674  2140-07-06   2345-7
25000017   11825674  2140-07-06  24467-3
25000018   11825674  2140-07-06  14135-8
25000020   11825674  2140-07-06   8123-2
25000022   11825674  2140-07-06   8101-8
...             ...         ...      ...
29999990   12176320  2186-11-03    706-2
29999991   12176320  2186-11-03    713-8
29999994   12176320  2186-11-03    736-9
29999998   12176320  2186-11-03   5905-5
29999999   12176320  2186-11-03    770-8

[530225 rows x 3 columns]
Batch 6 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 7...
         subject_id itemid   charttime   loinc Rollup_Status
30000000   12176320  51265  2186-11-03     NaN             0
30000001   12176320  51277  2186-11-03     NaN             0
30000002   12176320  51279  2186-11-03     NaN             0
30000003   12176320  51301  2186-11-03     NaN             0
30000004   12176320  52069  2186-11-03     NaN             0
...             ...    ...         ...     ...           ...
34999995   12527235  51463  2187-03-16  5769-5             1
34999996   12527235  51464  2187-03-16     NaN             0
34999997   12527235  51466  2187-03-16     NaN             0
34999998   12527235  51476  2187-03-16     NaN             0
34999999   12527235  51478  2187-03-16     NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
30000019   12176320  2186-11-03   2345-7
30000034   12176320  2186-11-04    706-2
30000035   12176320  2186-11-04    713-8
30000038   12176320  2186-11-04    736-9
30000043   12176320  2186-11-04   5905-5
...             ...         ...      ...
34999944   12527235  2184-04-24  13457-7
34999968   12527235  2185-11-20   9830-1
34999969   12527235  2185-11-20   2085-9
34999970   12527235  2185-11-20  13457-7
34999995   12527235  2187-03-16   5769-5

[533871 rows x 3 columns]
Batch 7 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 8...
         subject_id itemid   charttime loinc Rollup_Status
35000000   12527235  51484  2187-03-16   NaN             0
35000001   12527235  51486  2187-03-16   NaN             0
35000002   12527235  51487  2187-03-16   NaN             0
35000003   12527235  51491  2187-03-16   NaN             0
35000004   12527235  51492  2187-03-16   NaN             0
...             ...    ...         ...   ...           ...
39999995   12878814  50983  2116-06-18   NaN             0
39999996   12878814  51006  2116-06-18   NaN             0
39999997   12878814  51137  2116-06-18   NaN             0
39999998   12878814  51143  2116-06-18   NaN             0
39999999   12878814  51144  2116-06-18   NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
35000036   12527235  2188-04-14   9830-1
35000037   12527235  2188-04-14   2085-9
35000038   12527235  2188-04-14  13457-7
35000050   12527238  2153-04-17    706-2
35000051   12527238  2153-04-17    713-8
...             ...         ...      ...
39999960   12878814  2116-06-17    713-8
39999964   12878814  2116-06-17    736-9
39999971   12878814  2116-06-17   5905-5
39999973   12878814  2116-06-17    770-8
39999991   12878814  2116-06-18   2345-7

[531267 rows x 3 columns]
Batch 8 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 9...
         subject_id itemid   charttime   loinc Rollup_Status
40000000   12878814  51146  2116-06-18   706-2             1
40000001   12878814  51200  2116-06-18   713-8             1
40000002   12878814  51221  2116-06-18     NaN             0
40000003   12878814  51222  2116-06-18     NaN             0
40000004   12878814  51233  2116-06-18     NaN             0
...             ...    ...         ...     ...           ...
44999995   13225768  51248  2156-02-09     NaN             0
44999996   13225768  51249  2156-02-09     NaN             0
44999997   13225768  51250  2156-02-09     NaN             0
44999998   13225768  51252  2156-02-09     NaN             0
44999999   13225768  51254  2156-02-09  5905-5             1

[5000000 rows x 5 columns]
         subject_id   charttime   loinc
40000000   12878814  2116-06-18   706-2
40000001   12878814  2116-06-18   713-8
40000005   12878814  2116-06-18   736-9
40000012   12878814  2116-06-18  5905-5
40000014   12878814  2116-06-18   770-8
...             ...         ...     ...
44999981   13225768  2156-02-09  2345-7
44999988   13225768  2156-02-09   706-2
44999989   13225768  2156-02-09   713-8
44999993   13225768  2156-02-09   736-9
44999999   13225768  2156-02-09  5905-5

[535272 rows x 3 columns]
Batch 9 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 10...
         subject_id itemid   charttime  loinc Rollup_Status
45000000   13225768  51256  2156-02-09  770-8             1
45000001   13225768  51260  2156-02-09    NaN             0
45000002   13225768  51265  2156-02-09    NaN             0
45000003   13225768  51267  2156-02-09    NaN             0
45000004   13225768  51268  2156-02-09    NaN             0
...             ...    ...         ...    ...           ...
49999995   13587622  50920  2153-10-01    NaN             0
49999996   13587622  50934  2153-10-01    NaN             0
49999997   13587622  50947  2153-10-01    NaN             0
49999998   13587622  50960  2153-10-01    NaN             0
49999999   13587622  50970  2153-10-01    NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime   loinc
45000000   13225768  2156-02-09   770-8
45000013   13225768  2156-02-10  2345-7
45000022   13225768  2156-02-10   706-2
45000023   13225768  2156-02-10   713-8
45000027   13225768  2156-02-10   736-9
...             ...         ...     ...
49999970   13587622  2153-10-01   706-2
49999971   13587622  2153-10-01   713-8
49999974   13587622  2153-10-01   736-9
49999978   13587622  2153-10-01  5905-5
49999979   13587622  2153-10-01   770-8

[526312 rows x 3 columns]
Batch 10 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 11...
         subject_id itemid   charttime loinc Rollup_Status
50000000   13587622  50971  2153-10-01   NaN             0
50000001   13587622  50983  2153-10-01   NaN             0
50000002   13587622  51006  2153-10-01   NaN             0
50000003   13587622  51678  2153-10-01   NaN             0
50000004   13587622  51133  2153-10-16   NaN             0
...             ...    ...         ...   ...           ...
54999995   13954025  50813  2129-02-21   NaN             0
54999996   13954025  51221  2129-02-21   NaN             0
54999997   13954025  51222  2129-02-21   NaN             0
54999998   13954025  51248  2129-02-21   NaN             0
54999999   13954025  51249  2129-02-21   NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
50000005   13587622  2153-10-16    706-2
50000006   13587622  2153-10-16    713-8
50000009   13587622  2153-10-16    736-9
50000013   13587622  2153-10-16   5905-5
50000014   13587622  2153-10-16    770-8
...             ...         ...      ...
54999967   13954025  2129-02-20    713-8
54999970   13954025  2129-02-20    736-9
54999974   13954025  2129-02-20   5905-5
54999975   13954025  2129-02-20    770-8
54999992   13954025  2129-02-20  14979-9

[529826 rows x 3 columns]
Batch 11 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 12...
         subject_id itemid   charttime   loinc Rollup_Status
55000000   13954025  51250  2129-02-21     NaN             0
55000001   13954025  51265  2129-02-21     NaN             0
55000002   13954025  51277  2129-02-21     NaN             0
55000003   13954025  51279  2129-02-21     NaN             0
55000004   13954025  51301  2129-02-21     NaN             0
...             ...    ...         ...     ...           ...
59999995   14306582  50902  2158-12-18     NaN             0
59999996   14306582  50912  2158-12-18     NaN             0
59999997   14306582  50931  2158-12-18  2345-7             1
59999998   14306582  50960  2158-12-18     NaN             0
59999999   14306582  50970  2158-12-18     NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
55000015   13954025  2129-02-21   2345-7
55000025   13954025  2129-02-21  14979-9
55000048   13954025  2129-02-22  14979-9
55000068   13954025  2129-02-22   2345-7
55000081   13954025  2129-02-23  14979-9
...             ...         ...      ...
59999959   14306582  2158-12-16   2345-7
59999967   14306582  2158-12-17  14979-9
59999983   14306582  2158-12-17   2345-7
59999989   14306582  2158-12-18  14979-9
59999997   14306582  2158-12-18   2345-7

[539302 rows x 3 columns]
Batch 12 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 13...
         subject_id itemid   charttime loinc Rollup_Status
60000000   14306582  50971  2158-12-18   NaN             0
60000001   14306582  50983  2158-12-18   NaN             0
60000002   14306582  51006  2158-12-18   NaN             0
60000003   14306582  51221  2158-12-18   NaN             0
60000004   14306582  51222  2158-12-18   NaN             0
...             ...    ...         ...   ...           ...
64999995   14670853  51476  2179-06-13   NaN             0
64999996   14670853  51478  2179-06-13   NaN             0
64999997   14670853  51482  2179-06-13   NaN             0
64999998   14670853  51484  2179-06-13   NaN             0
64999999   14670853  51486  2179-06-13   NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
60000023   14306582  2158-12-19  14979-9
60000025   14306582  2158-12-19   5769-5
60000045   14306632  2126-06-11   5769-5
60000064   14306632  2126-06-11  19270-8
60000072   14306632  2126-06-11   3376-1
...             ...         ...      ...
64999920   14670853  2179-04-02  14979-9
64999923   14670853  2179-04-03  14979-9
64999939   14670853  2179-04-03   2345-7
64999959   14670853  2179-06-13   2345-7
64999992   14670853  2179-06-13   5769-5

[531701 rows x 3 columns]
Batch 13 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 14...
         subject_id itemid   charttime loinc Rollup_Status
65000000   14670853  51487  2179-06-13   NaN             0
65000001   14670853  51491  2179-06-13   NaN             0
65000002   14670853  51492  2179-06-13   NaN             0
65000003   14670853  51493  2179-06-13   NaN             0
65000004   14670853  51498  2179-06-13   NaN             0
...             ...    ...         ...   ...           ...
69999995   15032543  51279  2131-02-24   NaN             0
69999996   15032543  51301  2131-02-24   NaN             0
69999997   15032543  52172  2131-02-24   NaN             0
69999998   15032543  51221  2131-02-25   NaN             0
69999999   15032543  51222  2131-02-25   NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
65000021   14670928  2113-10-11   2345-7
65000026   14670928  2113-10-11    706-2
65000027   14670928  2113-10-11    713-8
65000030   14670928  2113-10-11    736-9
65000034   14670928  2113-10-11   5905-5
...             ...         ...      ...
69999922   15032543  2131-02-22  13969-1
69999924   15032543  2131-02-22   2345-7
69999936   15032543  2131-02-22  14979-9
69999953   15032543  2131-02-23   2345-7
69999978   15032543  2131-02-24   2345-7

[542537 rows x 3 columns]
Batch 14 appended to ./Intermediate_Data/filtered_labs_loinc.csv
Processing batch 15...
         subject_id itemid   charttime loinc Rollup_Status
70000000   15032543  51248  2131-02-25   NaN             0
70000001   15032543  51249  2131-02-25   NaN             0
70000002   15032543  51250  2131-02-25   NaN             0
70000003   15032543  51265  2131-02-25   NaN             0
70000004   15032543  51277  2131-02-25   NaN             0
...             ...    ...         ...   ...           ...
74999995   15385146  52172  2128-02-15   NaN             0
74999996   15385146  50861  2128-02-15   NaN             0
74999997   15385146  50862  2128-02-15   NaN             0
74999998   15385146  50867  2128-02-15   NaN             0
74999999   15385146  50868  2128-02-15   NaN             0

[5000000 rows x 5 columns]
         subject_id   charttime    loinc
70000010   15032543  2131-02-25  14979-9
70000016   15032543  2131-02-25   2345-7
70000041   15032543  2131-02-26   2345-7
70000057   15032552  2172-08-18   2345-7
70000061   15032552  2172-08-18    706-2
...             ...         ...      ...

In [ ]:
#load data, and process by batches. - write a function to keep appending the resuting data
#also import tqdm